@font-face {
	font-family: Oxygen;
	src: url(../fonts/oxygen-regular-webfont.woff2) format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Oxygen;
	src: url(../fonts/oxygen-bold-webfont.woff2) format('woff2');
	font-weight: 700;
	font-style: normal;
}
#navbar {
	overflow: hidden;
	background-color: #0d2644;
	padding: 0 20px;
	z-index: 10000;
}
#navbar a {
	float: right;
	display: block;
	color: #f2f2f2;
	text-align: right;
	padding: 14px;
	text-decoration: none;
}
#navbar a.navbar-logo {
	float: left;
}
#navbar img {
	width: 60px;
}
.sticky {
	position: sticky;
	top: 0;
	width: 100%;
}
figure img {
	border: 2px solid #fff;
}
figcaption {
	float: right;
	font-size: smaller;
}
ul {
	list-style: none;
}
ul li::before {
	content: '\2022';
	color: rgba(253, 128, 8, 1);
	font-weight: 700;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}
.logo {
	height: 120px;
	margin: 20px;
}
.float-right {
	float: right;
}
@media only screen {
	a:link,
	a:visited {
		color: rgba(253, 128, 8, 1);
	}
	a:active,
	a:hover {
		color: rgba(202, 102, 6, 1);
	}
	.footer-content a {
		color: rgba(253, 128, 8, 1);
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: rgba(255, 255, 255, 1);
	}
	h1:after,
	h2:after,
	h3:after,
	h4:after,
	h5:after,
	h6:after {
		background-color: rgba(253, 128, 8, 1);
	}
	body {
		background-color: rgba(26, 26, 26, 1);
		color: rgba(255, 255, 255, 1);
		font-size: 18px;
	}
	.sidebar {
		color: rgba(255, 255, 255, 0.45);
	}
	.hero-background:before {
		background-color: rgba(102, 102, 102, 0.58);
	}
	.hero-title {
		color: rgba(255, 255, 255, 1);
	}
	.hero-slogan {
		color: rgba(255, 255, 255, 0.9);
	}
	.navbar {
		background-color: #0d2644;
	}
	.footer {
		background-color: #0d2644;
	}
	.footer a:active,
	.footer a:hover,
	.footer a:link,
	.footer a:visited {
		color: rgba(253, 128, 8, 1) !important;
	}
	.sidebar {
		display: none !important;
	}
	.hero-background {
		filter: saturate(0);
	}
	.container {
		max-width: 960px;
	}
} /*! * Bootstrap v4.0.0 (https://getbootstrap.com) * Copyright 2011-2018 The Bootstrap Authors * Copyright 2011-2018 Twitter, Inc. * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE) */
:root {
	--blue: #007bff;
	--indigo: #6610f2;
	--purple: #6f42c1;
	--pink: #e83e8c;
	--red: #dc3545;
	--orange: #fd7e14;
	--yellow: #ffc107;
	--green: #28a745;
	--teal: #20c997;
	--cyan: #17a2b8;
	--white: #fff;
	--gray: #6c757d;
	--gray-dark: #343a40;
	--primary: #007bff;
	--secondary: #6c757d;
	--success: #28a745;
	--info: #17a2b8;
	--warning: #ffc107;
	--danger: #dc3545;
	--light: #f8f9fa;
	--dark: #343a40;
	--breakpoint-xs: 0;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
	--font-family-sans-serif: Oxygen, sans-serif;
	--font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
		'Liberation Mono', 'Courier New', monospace;
}
*,
:after,
:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	font-family: Oxygen, sans-serif;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: transparent;
}
figcaption,
figure,
footer,
main {
	display: block;
}
body {
	margin: 0;
	font-family: Oxygen, sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.6;
	color: #fff;
	text-align: left;
	background-color: #0d2644;
}
[tabindex='-1']:focus {
	outline: 0 !important;
}
hr {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 0.66666667rem;
}
p {
	margin-top: 0;
	margin-bottom: 1rem;
}
address {
	font-style: normal;
	line-height: inherit;
}
address,
ul {
	margin-bottom: 1rem;
}
ul {
	margin-top: 0;
}
ul ul {
	margin-bottom: 0;
}
b {
	font-weight: bolder;
}
small {
	font-size: 80%;
}
a {
	color: #007bff;
	text-decoration: none;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}
a:hover {
	color: #0056b3;
	text-decoration: underline;
}
a:not([href]):not([tabindex]),
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
	color: inherit;
	text-decoration: none;
}
a:not([href]):not([tabindex]):focus {
	outline: 0;
}
figure {
	margin: 0 0 3rem;
}
img {
	vertical-align: middle;
	border-style: none;
}
table {
	border-collapse: collapse;
}
[type='reset'],
[type='submit'],
html [type='button'] {
	-webkit-appearance: button;
}
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
	padding: 0;
	border-style: none;
}
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
	height: auto;
}
[type='search'] {
	outline-offset: -2px;
	-webkit-appearance: none;
}
[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}
::-webkit-file-upload-button {
	font: inherit;
	-webkit-appearance: button;
}
[hidden] {
	display: none !important;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 0.66666667rem;
	font-family: inherit;
	font-weight: 600;
	line-height: 1.4;
	color: inherit;
}
.h1,
h1 {
	font-size: 4.5rem;
}
.h2,
h2 {
	font-size: 2.75rem;
}
.h3,
h3 {
	font-size: 2rem;
}
.h4,
h4 {
	font-size: 1.5rem;
}
.h5,
.h6,
h5,
h6 {
	font-size: 1rem;
}
hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	border-top: 1px solid grey;
}
.small,
small {
	font-size: 80%;
	font-weight: 400;
}
img {
	max-width: 100%;
	height: auto;
}
.figure {
	display: inline-block;
}
.figure-img {
	margin-bottom: 0.5rem;
	line-height: 1;
}
.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}
@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}
@media (min-width: 992px) {
	.container {
		max-width: 880px;
	}
}
@media (min-width: 1200px) {
	.container {
		max-width: 980px;
	}
}
.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}
.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9 {
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}
.col {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 100%;
}
.col-1 {
	-webkit-box-flex: 0;
}
.col-1 {
	-ms-flex: 0 0 8.33333333%;
	flex: 0 0 8.33333333%;
	max-width: 8.33333333%;
}
.col-2 {
	-ms-flex: 0 0 16.66666667%;
	flex: 0 0 16.66666667%;
	max-width: 16.66666667%;
}
.col-2,
.col-3 {
	-webkit-box-flex: 0;
}
.col-3 {
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	max-width: 25%;
}
.col-4 {
	-ms-flex: 0 0 33.33333333%;
	flex: 0 0 33.33333333%;
	max-width: 33.33333333%;
}
.col-4,
.col-5 {
	-webkit-box-flex: 0;
}
.col-5 {
	-ms-flex: 0 0 41.66666667%;
	flex: 0 0 41.66666667%;
	max-width: 41.66666667%;
}
.col-6 {
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
}
.col-6,
.col-7 {
	-webkit-box-flex: 0;
}
.col-7 {
	-ms-flex: 0 0 58.33333333%;
	flex: 0 0 58.33333333%;
	max-width: 58.33333333%;
}
.col-8 {
	-ms-flex: 0 0 66.66666667%;
	flex: 0 0 66.66666667%;
	max-width: 66.66666667%;
}
.col-8,
.col-9 {
	-webkit-box-flex: 0;
}
.col-9 {
	-ms-flex: 0 0 75%;
	flex: 0 0 75%;
	max-width: 75%;
}
.col-10 {
	-ms-flex: 0 0 83.33333333%;
	flex: 0 0 83.33333333%;
	max-width: 83.33333333%;
}
.col-10,
.col-11 {
	-webkit-box-flex: 0;
}
.col-11 {
	-ms-flex: 0 0 91.66666667%;
	flex: 0 0 91.66666667%;
	max-width: 91.66666667%;
}
.col-12 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}
@media (min-width: 576px) {
	.col-sm {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		max-width: 100%;
	}
	.col-sm-1 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 8.33333333%;
		flex: 0 0 8.33333333%;
		max-width: 8.33333333%;
	}
	.col-sm-2 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 16.66666667%;
		flex: 0 0 16.66666667%;
		max-width: 16.66666667%;
	}
	.col-sm-3 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}
	.col-sm-4 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 33.33333333%;
		flex: 0 0 33.33333333%;
		max-width: 33.33333333%;
	}
	.col-sm-5 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 41.66666667%;
		flex: 0 0 41.66666667%;
		max-width: 41.66666667%;
	}
	.col-sm-6 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
	.col-sm-7 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 58.33333333%;
		flex: 0 0 58.33333333%;
		max-width: 58.33333333%;
	}
	.col-sm-8 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 66.66666667%;
		flex: 0 0 66.66666667%;
		max-width: 66.66666667%;
	}
	.col-sm-9 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%;
	}
	.col-sm-10 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 83.33333333%;
		flex: 0 0 83.33333333%;
		max-width: 83.33333333%;
	}
	.col-sm-11 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 91.66666667%;
		flex: 0 0 91.66666667%;
		max-width: 91.66666667%;
	}
	.col-sm-12 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}
.table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 1rem;
	background-color: transparent;
}
.table .table {
	background-color: #000;
}
.navbar {
	position: relative;
	padding: 1rem 2rem;
}
.navbar,
.navbar > .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.navbar-text {
	display: inline-block;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
@-webkit-keyframes progress-bar-stripes {
	0% {
		background-position: 1rem 0;
	}
	to {
		background-position: 0 0;
	}
}
@keyframes progress-bar-stripes {
	0% {
		background-position: 1rem 0;
	}
	to {
		background-position: 0 0;
	}
}
/* .media {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}
.media-body {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
@supports (
	(-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)
) {
	.carousel-item-next.carousel-item-left,
	.carousel-item-prev.carousel-item-right {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
	}
}
@supports (
	(-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)
) {
	.active.carousel-item-right,
	.carousel-item-next {
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}
}
@supports (
	(-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)
) {
	.active.carousel-item-left,
	.carousel-item-prev {
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
}
@supports ((position: -webkit-sticky) or (position: sticky)) {
	.sticky-top {
		position: -webkit-sticky;
		position: sticky;
		top: 0;
		z-index: 1020;
	}
} */
.w-25 {
	width: 25% !important;
}
.w-50 {
	width: 50% !important;
}
.w-75 {
	width: 75% !important;
}
.w-100 {
	width: 100% !important;
}
.h-25 {
	height: 25% !important;
}
.h-50 {
	height: 50% !important;
}
.h-75 {
	height: 75% !important;
}
.h-100 {
	height: 100% !important;
}
.p-0 {
	padding: 0 !important;
}
.py-0 {
	padding-top: 0 !important;
}
.py-0 {
	padding-bottom: 0 !important;
}
.p-1 {
	padding: 0.25rem !important;
}
.py-1 {
	padding-top: 0.25rem !important;
}
.py-1 {
	padding-bottom: 0.25rem !important;
}
.p-2 {
	padding: 0.5rem !important;
}
.py-2 {
	padding-top: 0.5rem !important;
}
.py-2 {
	padding-bottom: 0.5rem !important;
}
.p-3 {
	padding: 1rem !important;
}
.py-3 {
	padding-top: 1rem !important;
}
.py-3 {
	padding-bottom: 1rem !important;
}
.p-4 {
	padding: 1.5rem !important;
}
.py-4 {
	padding-top: 1.5rem !important;
}
.py-4 {
	padding-bottom: 1.5rem !important;
}
.p-5 {
	padding: 3rem !important;
}
.py-5 {
	padding-top: 3rem !important;
}
.py-5 {
	padding-bottom: 3rem !important;
}
@media (min-width: 576px) {
	.p-sm-0 {
		padding: 0 !important;
	}
	.py-sm-0 {
		padding-top: 0 !important;
	}
	.py-sm-0 {
		padding-bottom: 0 !important;
	}
	.p-sm-1 {
		padding: 0.25rem !important;
	}
	.py-sm-1 {
		padding-top: 0.25rem !important;
	}
	.py-sm-1 {
		padding-bottom: 0.25rem !important;
	}
	.p-sm-2 {
		padding: 0.5rem !important;
	}
	.py-sm-2 {
		padding-top: 0.5rem !important;
	}
	.py-sm-2 {
		padding-bottom: 0.5rem !important;
	}
	.p-sm-3 {
		padding: 1rem !important;
	}
	.py-sm-3 {
		padding-top: 1rem !important;
	}
	.py-sm-3 {
		padding-bottom: 1rem !important;
	}
	.p-sm-4 {
		padding: 1.5rem !important;
	}
	.py-sm-4 {
		padding-top: 1.5rem !important;
	}
	.py-sm-4 {
		padding-bottom: 1.5rem !important;
	}
	.p-sm-5 {
		padding: 3rem !important;
	}
	.py-sm-5 {
		padding-top: 3rem !important;
	}
	.py-sm-5 {
		padding-bottom: 3rem !important;
	}
}
.text-center {
	text-align: center !important;
}
@media (min-width: 576px) {
	.text-sm-center {
		text-align: center !important;
	}
}
.font-weight-bold {
	font-weight: 600 !important;
}
@media print {
	*,
	:after,
	:before {
		text-shadow: none !important;
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
	}
	img {
		page-break-inside: avoid;
	}
	h2,
	h3,
	p {
		orphans: 3;
		widows: 3;
	}
	h2,
	h3 {
		page-break-after: avoid;
	}
	@page {
		size: a3;
	}
	.container,
	body {
		min-width: 992px !important;
	}
	.navbar {
		display: none;
	}
	.table {
		border-collapse: collapse !important;
	}
}
.footer {
	background: #fcf8f0;
	padding: 6rem 2rem;
}
.footer hr {
	margin: 4rem 0;
	border: none;
	height: 1px;
	background-color: hsla(0, 0%, 100%, 0.1);
}
.footer-content {
	font-family: Oxygen, sans-serif;
	font-weight: 600;
	margin-bottom: 2rem;
}
.footer-content a {
	color: #ccc;
}
.footer-content a:hover {
	color: #fff;
}
.hero {
	height: 100vh;
	position: relative;
	z-index: 0;
}
.hero-background {
	width: 100%;
	height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
	background-image: url(https://images.unsplash.com/photo-1545987796-200677ee1011?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEzMjQ5fQ);
	background-size: cover;
	background-position: 50%;
	z-index: -1;
}
.hero-background:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}
.hero-content {
	width: 100%;
	max-width: 960px;
	height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	margin: 0 auto;
	text-align: center;
	padding: 4rem;
}
.hero-title {
	margin-top: auto;
	color: #fff;
}
@media (max-width: 767.98px) {
	.hero-title {
		font-size: 3rem;
	}
}
.hero-slogan {
	color: #fff;
	font-weight: 400;
	margin-bottom: 10rem;
}
@media (max-width: 767.98px) {
	.hero-slogan {
		font-size: 2rem;
	}
}
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	font-size: 22px;
	line-height: 33px;
}
a:link,
a:visited {
	color: rgba(253, 128, 8, 1);
}
a:active,
a:hover {
	color: rgba(202, 102, 6, 1);
}
.footer-content a {
	color: rgba(253, 128, 8, 1);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: rgba(255, 255, 255, 1);
}
h1:after,
h2:after,
h3:after,
h4:after,
h5:after,
h6:after {
	background-color: rgba(253, 128, 8, 1);
}
body {
	background-color: #0d2644;
	color: rgba(255, 255, 255, 1);
	font-size: 18px;
}
.sidebar {
	color: rgba(255, 255, 255, 0.45);
}
.hero-background:before {
	background-color: rgba(102, 102, 102, 0.58);
}
.hero-title {
	color: rgba(255, 255, 255, 1);
}
.hero-slogan {
	color: rgba(255, 255, 255, 0.9);
}
.navbar {
	background-color: rgba(0, 0, 0, 1);
}
.footer {
	background-color: #0d2644;
}
.footer a:active,
.footer a:hover,
.footer a:link,
.footer a:visited {
	color: rgba(253, 128, 8, 1) !important;
}
.sidebar {
	display: none !important;
}
.hero-background {
	filter: saturate(0);
}
.container {
	max-width: 960px;
}
