/* 
Network pane and pop-up for new Factors
 */
 

#net-pane{
	width:100%;
	height:100%;
	}
	
#edge-popUp {
	display:none;
	position:absolute;
	top:350px;
	left:170px;
	z-index:299;
	width:250px;
	height:90px;
	background-color: #f9f9f9;
	border-style:solid;
	border-width:3px;
	border-color: #5394ed;
	padding:10px;
	text-align: center;
	}

#node-popUp {
	display:none;
	position:absolute;
	z-index:299;
	background-color: var(--pop-up-color);
	color: white;
	border-radius: 6px;
	padding: 4px;
	line-height: 1.5;
	}
		
/* Popup arrow */
#node-popUp::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	margin-left: -10px;
	border-width: 10px;
	border-style: solid;
	border-color: var(--pop-up-color) transparent transparent transparent;
	}

#node-popUp input {
	margin: 5px;
	padding: 3px;
	font-weight: bold; 
	}
	
#node-saveButton {
	float:right;
	margin-top: 5px;
	}
	
input::placeholder {
	color: var(--header-color);
	}