.navbar {
	font-size: 18px;
}

.main-nav {
	list-style-type: none;
	display: none;
}

.nav-button {
	color: black;
	font-size: 24px;
}

.main-nav li {
	text-align: center;
	margin: 15px auto;
	padding: 0 15px 0 15px;
	z-index: 10;
}

.logo {
	display: flex;
	margin: 5px 0 0 10px; 
}

.logo img {
	height: 40px;
	}
	
.strapline {
	margin: auto 10px;
	font-size: 18px;
	}

.navbar-toggle {
	position: absolute;
	top: 10px;
	right: 20px;
	cursor: pointer;
	color: black;
	font-size: 24px;
}

.active {
	display: block;
}

@media screen and (min-width: 768px) {
	.navbar {
		display: flex;
		justify-content: space-between;
		height: 50px;
		align-items: center;
	}

	.main-nav {
		display: flex;
		margin-right: 30px;
		flex-direction: row;
		justify-content: flex-end;
	}

	.main-nav li {
		margin: 0;
	}

	.nav-links {
		margin-left: 40px;
	}

	.navbar-toggle {
		display: none;
	}

	.nav-links:hover {
		color: rgba(0, 0, 0, 0.5);
	}
}

#download {
	width: 0;
	height: 0;
	visibility: hidden;
	}
	
/* Share modal dialog */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 16px;
  background-color: #B0C4DE;
  color: white;
}

.modal-body {
	padding: 16px;
	font-size: 16px;
	line-height: 2;
}

.modal-body input {
	width: 60%;
	}
	
.modal-copied-text {
	display: none;
	font-size: 12px;
	}
