/* 
Top level styles setting out the page elements
 */

html, body, div, span, applet, object, iframe,
a, img, article, aside, canvas, footer, header, nav,
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	font-family: sans-serif;
	box-sizing: border-box;
	
	/* interface colours defined here */
	--header-color: #3498DB;
	--header-hover-color: grey;
	--header-disabled-color: #a8d3f0;
	--panel-color: #404040;
	--pop-up-color: #999;
	--modal-header-color: #3498DB;
	--tab-color: #dcdcdc;
}

.container {
	display: grid;
	grid-template-columns: 1fr 0px;
	grid-template-rows: auto 1fr auto;
}

main {
	height: calc(100vh - 129px);
	flex: 1;
	position: relative;
}

header {
	grid-column: span 2;
	text-align: center;
	height: 93px;
}
 
aside {
	margin-right: 5px;
}

footer {
	grid-column: span 2;
	display: flex;
	justify-content: space-between;
	padding: 5px;
	height: 25px;
	text-align: center;
	font-size: 14px;
	background-color: white;
	color: black;
	border-top: 1px solid lightgrey;
}

@media print {
	header, aside, footer {
		display: none;
		}
}

/* 
Network pane and pop-up for new Factors
 */
 

#net-pane {
	width:100%;
	height:100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
	}
	
#underlay {
	width:100%;
	height:100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -1;
	background-color: transparent;
	}
	
#underlay img {
	margin: 20px;
	width: 300px;
	}
	
#edge-popUp {
	display:none;
	position:absolute;
	top:350px;
	left:170px;
	z-index:299;
	width:250px;
	height:90px;
	background-color: #f9f9f9;
	border-style:solid;
	border-width:3px;
	border-color: #5394ed;
	padding:10px;
	text-align: center;
	}

#node-popUp {
	display:none;
	position:absolute;
	z-index:299;
	background-color: var(--pop-up-color);
	color: white;
	border-radius: 6px;
	padding: 4px;
	line-height: 1.5;
	}
		
/* Popup arrow */
#node-popUp::after {
	content: "";
	position: absolute;
	  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
	border-color: transparent transparent transparent var(--pop-up-color);
	}

#node-popUp input {
	margin: 5px;
	padding: 3px;
	font-weight: bold; 
	}
	
#node-saveButton {
	float:right;
	margin-top: 5px;
	}
	
input::placeholder {
	color: var(--header-color);
	}
	
/* 
-----	Top Navigation Bar ----------------------------------------------------------
 */
	
nav {
	display: flex;
	background-color: var(--header-color);
	flex-direction: row;
	justify-content: flex-start;
	height: 70px;
	padding: 10px 0 0 20px;
	}
nav img {
	height: 60px;
	}
.strapline {
	font-size: 24px;
	margin: auto 0;
	}
#version {
	font-size: xx-small;
	}
.button-wrapper {
	margin: auto 50px auto auto;
	}
.buttons {
	flex-grow: 3;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	}
nav button {
	border: 1px solid  var(--header-color);
	color: white;
	font-size: 24px;
	background-color:  var(--header-color);
	margin: auto 5px;
	outline: none;
	}
nav button .small-button {
	font-size: 16px;
	}
nav button:hover {
	color: var(--header-hover-color);
	}
nav button:active {
	color: var(--header-hover-color);
	border: 1px solid black;
	}
.reveal {
	display: flex !important;
	}
.disabled {
	color: var(--header-disabled-color);
}

.disabled:hover, .disabled:active {
	color: var(--header-disabled-color);
}
	

@media screen and (max-width: 1025px) {

	main {
		height: calc(100vh - 157px);
		}
	header {
		height: 115px;
		}
	nav {
		display: grid;
		height: 90px;
		grid-template-columns: 80px 1fr;
		}
	nav img {
		grid-column: 1;
		grid-row: 1 / 3;
		align-self: center;
		}
	.strapline {
		grid-column: 2;
		}
	.button-wrapper {
		grid-column: 2 / 3;
		grid-row: 2;
		width: 100%;
		}
	.buttons {
		justify-content: center;
		}
	nav button {
		margin: auto 5px;
		}			
}


#download {
	width: 0;
	height: 0;
	visibility: hidden;
	}
	
/* Tooltips for nav bar buttons */

.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip.right-border {
	border-right: 1px solid white;
}

/* Tooltip text */
.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	top: 100%;
	left: 50%;
	margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
	background-color: gray;
	color: white;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
	font-size: 70%;
 
	/* Position the tooltip text */
	position: absolute;
	z-index: 1;
	opacity: 0;
	transition: opacity 1s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}
.tooltip:active .tooltiptext {
	visibility: hidden;
}

	
/* Share modal dialog */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content, .confirm-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 16px;
  background-color: var(--modal-header-color);
  color: white;
}

.modal-body {
	padding: 16px;
	font-size: 16px;
	line-height: 2;
}

.modal-copied-text {
	display: none;
	font-size: 12px;
	}

/* 
---- Styles for the right hand side panel -------------------------------------------------
 */


/* Style the tab */
.tab {
	display: flex;
	justify-content: space-between;
	overflow: hidden;
}

/* Style the buttons that are used to open the tab content */
.tab button {
	flex: 1;
	font-size: 14px;
	background-color: var(--tab-color);
	float: left;
	border: 0;
	outline: none;
	cursor: pointer;
	padding: 5px 10px;
	transition: 0.3s;
	border-radius: 4px 4px 0 0;
}

.tab > button:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.tab > button:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}


/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #e9e9e9;
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: var(--panel-color);
	color: white;
}

/* Style the tab content */
.tabcontent {
	padding: 6px;
	background-color: var(--panel-color);
	color: white;
	font-size: 11px;
	border-radius: 0 0 4px 4px;
}

/* Using display:none to hide tabs other than the one on display: causes problems 
with sizing the sample canvases on the Factor and Link panels (because the 
size of the area in which to place the canvas appears to be zero; but
moving the panel out of sight works instead */

.hide {
	position: absolute !important;
	top: -9999px !important;
	left: -9999px !important;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 12px;
    line-height: 1;
    border-radius: 3px;
    margin-top: 10px;
    outline: none;
    background-color: var(--tab-color);
 } 
   
.sampleGrid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 6px;
}

.sampleNode,
.sampleLink {
	width: 60px;
	height: 60px;
	justify-self: center;
	border: 0;
	border-radius: 5px;
	background-color: white;
}

/* the panel area that only appears for the 
Factor tab if one Factor is selected */

#oneNodeSelected {
	margin-top: 10px;
	border-top: 1px solid whitesmoke;
	padding-top: 10px;
}

.notesWrapper {
	margin: 10px 0 0 0;
	padding: 2px 0 0 2px;
	border-radius: 5px;
	color: black;
	background-color: white;
	font-family: sans-serif;
}

.notes {
	width: 100%;
	max-height: 100px;
	height: 70px;
	overflow: auto;
}

.notesTA {
	border: 0;
	outline: none;
	width: 100%;
	height: 100%;
}

.networkGrid {
	display: grid;
	grid-template-columns: 1fr;
}

.panelRow {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 3px;
}
.panelRow.centered {
	justify-content: center;
	}
	
.panelRow.divider {
	margin-top: 5px;
	padding-top: 5px;
	border-top: 1px solid white;
}
	

/* create the impression of a sliding on/off switch 
see https://proto.io/freebies/onoff/ */

.onoffswitch {
	position: relative;
	width: 50px;
	user-select: none;
}

.onoffswitch-checkbox {
	display: none;
}

.onoffswitch-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	border: 0px solid #999999;
	border-radius: 11px;
}

.onoffswitch-inner {
	display: block;
	width: 200%;
	margin-left: -100%;
	transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
	display: block;
	float: left;
	width: 50%;
	height: 16px;
	padding: 1px 0 0 0;
	line-height: 16px;
	font-size: 11px;
	color: white;
	font-weight: bold;
	box-sizing: border-box;
}

.onoffswitch-inner:before {
	content: "ON";
	padding-left: 10px;
	background-color: white;
	color: #000000;
}

.onoffswitch-inner:after {
	content: "OFF";
	padding-right: 5px;
	background-color: white;
	color: #000000;
	text-align: right;
}

.onoffswitch-switch {
	display: block;
	width: 18px;
	margin: -1px;
	background: #000000;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 32px;
	border: 2px solid #999999;
	border-radius: 11px;
	transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
	margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
	right: 0px;
}

/*edit node sample panel */

.hideDrawer {
  display: none;
}
.drawerContent{
  position: absolute;
  z-index: 100;
}
.sampleEditorPanel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  grid-gap: 5px;
  border-radius: 4px;
  width: 230px;
  background-color: var(--pop-up-color);
  color: white;
  font-family: sans-serif;
  font-size: 12px;
  padding: 10px;
}
.sampleTitleInput {
  grid-column: 1/4;
}
.sampleTitleInput input{
  font-family: sans-serif
  font-size: 12px;
  border: 0;
  border-radius: 4px;
  padding: 4px
}
.sampleEditorSubmit {
  grid-column: 3/4;
  justify-self: end;
}

