/* Top level styles setting out the page elements */

:root {
	font-family: Oxygen, sans-serif;
	box-sizing: border-box;
	touch-action: none;
	/* interface colours defined here: CECAN theme */
	--header-color: #0d2644;
	--header-hover-color: grey;
	--header-pressed-color: grey;
	--header-disabled-color: #a8d3f0;
	--panel-color: #404040;
	--pop-up-color: #f5f5f5;
	--pop-up-shadow-color: #c9c9c9;
	--modal-header-color: #0d2644;
	--tab-color: #dcdcdc;
	--tutorial-highlight-color: #d32f2f;
	--chat-message-header-color: #a2a2a2;
	--history-log-color: #fffde7;
	--map-title-color: #ffc107;
	--sample-selected-color: lightblue;
}
html,
body,
div,
span,
applet,
object,
iframe,
a,
img,
article,
aside,
canvas,
footer,
header,
nav,
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
button,
input,
select {
	font-family: Oxygen, sans-serif;
}
select {
	border-color: lightgrey;
	font-size: 12px;
	outline: none;
}
#container {
	position: relative;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	overflow: hidden;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		'header'
		'main'
		'footer';
}
#container > header {
	grid-area: header;
	text-align: center;
}
#container > main {
	grid-area: main;
	position: relative;
	cursor: default;
}
#container > footer {
	grid-area: footer;
	width: 100%;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	padding: 5px;
	height: 25px;
	text-align: center;
	font-size: 14px;
	background-color: white;
	color: black;
	border-top: 1px solid lightgrey;
	user-select: none;
}
#net-pane {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	visibility: hidden;
}
#loading {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
/* loading ... animation See https://codepen.io/AsLittleDesign/pen/ZbVVwa */
.loader {
	height: 20px;
	width: 250px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 1000;
}
.loader--dot {
	animation-name: loader;
	animation-timing-function: ease;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	height: 20px;
	width: 20px;
	border-radius: 100%;
	background-color: black;
	position: absolute;
}
.loader--dot:first-child {
	background-color: #8cc759;
	animation-delay: 0.5s;
}
.loader--dot:nth-child(2) {
	background-color: #8c6daf;
	animation-delay: 0.4s;
}
.loader--dot:nth-child(3) {
	background-color: #ef5d74;
	animation-delay: 0.3s;
}
.loader--dot:nth-child(4) {
	background-color: #f9a74b;
	animation-delay: 0.2s;
}
.loader--dot:nth-child(5) {
	background-color: #60beeb;
	animation-delay: 0.1s;
}
.loader--dot:nth-child(6) {
	background-color: #fbef5a;
	animation-delay: 0s;
}
@keyframes loader {
	15% {
		transform: translateX(0);
	}
	45% {
		transform: translateX(230px);
	}
	65% {
		transform: translateX(230px);
	}
	95% {
		transform: translateX(0);
	}
}
/* apply a waiting cursor to the whole window */
.wait,
.wait * {
	cursor: wait !important;
}
#underlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: transparent;
}
aside {
	position: fixed;
	top: 110px;
	right: 5px;
	width: 200px;
	user-select: none;
	z-index: 2000;
}
#errMsg {
	position: absolute;
	bottom: 40px;
	left: 10px;
	color: white;
	padding: 10px;
	border-radius: 10px;
	opacity: 0;
}
.fadeInAndOut {
	animation-name: showErrMsg;
	animation-duration: 10s;
	animation-iteration-count: 1;
}
@keyframes showErrMsg {
	from {
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
#statusBar {
	padding: 3px 20px;
	border-radius: 5px;
}
#zoomcontrol {
	padding-right: 20px;
	white-space: nowrap;
}
#zoomplus {
	cursor: zoom-in;
}
#zoomminus {
	cursor: zoom-out;
}
input[type='range'] {
	vertical-align: middle;
	width: 80px;
}
.splash {
	text-align: center;
	line-height: 150%;
}
.selectionBox {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	z-index: 100;
	background-color: rgba(0, 0, 250, 0.1);
	border: 1px blue dotted;
}
/* Add factor dialog */

#popup {
	display: none;
	width: 190px;
	height: 60px;
	position: absolute;
	z-index: 50;
	background-color: white;
	box-shadow: 2px 2px 10px 0px var(--pop-up-shadow-color);
	border: thin solid var(--pop-up-shadow-color);
	border-radius: 10%;
	padding: 30px 10px 10px 10px;
}
#popup-label {
	text-align: center;
	position: absolute;
	top: 60px;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 20px;
	overflow-y: auto;
	overflow-x: hidden;
	outline: none;
	color: black;
	min-width: 160px;
	min-height: 50px;
	max-height: 60px;
}
#popup-operation {
	position: absolute;
	top: 3px;
	left: 5px;
	font-size: 16px;
	font-weight: bold;
	padding: 3px;
}

#popup-saveButton {
	position: absolute;
	bottom: 7px;
	right: 7px;
	font-size: 12px;
	background-color: black;
	color: white;
	border-radius: 20%;
	padding: 3px;
}
#popup-saveButton:hover {
	text-decoration: none;
	cursor: pointer;
	background-color: gray;
}
#popup-cancelButton {
	color: black;
	position: absolute;
	top: 0px;
	right: 5px;
	font-size: 20px;
}
#popup-cancelButton:hover {
	color: gray;
	text-decoration: none;
	cursor: pointer;
}
#popup table {
	width: 145px;
	table-layout: fixed;
	font-size: 14px;
	position: absolute;
	top: 90px;
}
#popup table td {
	width: 33%;
	text-align: center;
}
.input-color-container {
	position: relative;
	overflow: hidden;
	width: 30px;
	height: 30px;
	border: solid 2px lightgrey;
	border-radius: 30px;
	margin: auto;
}

/* ----------- colour picker ----------*/
.color-cache {
	display: flex;
	margin: 3px 0;
	width: 160px;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	border-right: 1px solid grey;
}
.cached-color {
	width: 20px;
	height: 20px;
	border-left: 1px solid grey;
}
.color-well {
	position: relative;
	overflow: hidden;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	margin: auto;
	background-color: white;
}
.color-picker-container {
	display: none;
	position: absolute;
	z-index: 5000;
	background-color: lightgrey;
	border-radius: 4px;
	box-shadow: 4px 4px 15px 0px var(--pop-up-shadow-color);
	border: thin solid var(--pop-up-shadow-color);
}
/* ----- Top Navigation Bar ---------------------------------------------------------- */

nav {
	display: flex;
	background-color: var(--header-color);
	flex-direction: row;
	justify-content: flex-start;
	padding: 10px 0 0 20px;
}
.strapline {
	font-size: 20px;
	margin: 3px 0 0 10px;
	color: white;
	white-space: nowrap;
}
.version {
	font-size: xx-small;
	color: lightgray;
	margin-left: 10px;
}
.title {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.maptitle {
	font-size: 20px;
	margin: 5px 0 0 10px;
	padding: 3px;
	color: var(--map-title-color);
	text-align: left;
}
.unsetmaptitle {
	color: lightgrey;
}
.recent-rooms-caret {
	color: white;
	padding: 7px 3px 0 3px;
}
.hidden {
	visibility: hidden;
}
.room-titles {
	width: 195px;
	position: absolute;
	left: 0px;
	top: 65px;
	z-index: 2500;
}
.room-title {
	list-style-type: none;
}
.room-title-text {
	font-size: 12px;
	text-align: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	background-color: var(--header-color);
	color: white;
	border-radius: 4px;
	padding: 2px;
	margin-top: 2px;
	cursor: default;
}
.room-title-text:hover {
	background-color: var(--header-hover-color);
}
.button-wrapper {
	margin: auto 50px auto auto;
}
.buttons {
	flex-grow: 3;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
nav button {
	border: none;
	color: white;
	background-color: var(--header-color);
	margin: auto 5px;
	padding: 1px 6px;
	outline: none;
}
nav .button-text {
	font-size: 10px;
	color: white;
}
nav button:active {
	color: var(--header-hover-color);
}
nav button .pressed {
	color: var(--header-pressed-color);
}
.disabled {
	color: var(--header-disabled-color);
}
.disabled:hover,
.disabled:active {
	color: var(--header-disabled-color);
}
.right-border {
	border-right: 1px solid white;
}
.left-border {
	border-left: 1px solid white;
}
#saveFile {
	margin: auto 0;
	padding: 1px 0;
}
.dropdown-wrapper {
	position: relative;
	display: inline-block;
	padding: 0px;
	color: white;
	z-index: 2001;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: var(--header-color);
	z-index: 10;
}
.dropdown-wrapper:hover .dropdown-content {
	display: block;
}
.dropdown-label:hover {
	background-color: var(--header-hover-color);
}
.dropdown-content .tooltip button {
	font-size: 14px;
}
.dropdown-content .tooltip .tooltiptext {
	top: 0;
	left: -70px;
}
.search-bar {
	display: none;
	width: 200px;
	height: 2em;
	position: absolute;
	right: 5px;
	z-index: 2500;
	font-size: 12px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	background-color: white;
}
.search-icon {
	display: none;
	float: right;
	margin-right: 12px;
	margin-top: 8px;
	position: relative;
	z-index: 2502;
}
.search-ul {
	width: 195px;
	position: absolute;
	right: 5px;
	top: 100px;
	z-index: 2500;
}
.search-suggestion {
	list-style-type: none;
}
.search-suggestion-text {
	font-size: 12px;
	text-align: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	background-color: white;
	border: 2px solid grey;
	border-radius: 4px;
	padding: 2px;
	margin-top: 2px;
	cursor: default;
}
.and-more {
	text-align: center;
	color: grey;
}

#download {
	width: 0;
	height: 0;
	visibility: hidden;
}
/* Tooltips for nav bar buttons and chat window*/

.tooltip {
	position: relative;
	display: inline-block;
}
/* Tooltip text */

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	top: 100%;
	left: 50%;
	margin-left: -60px;
	/* Use half of the width (120/2 = 60), to center the tooltip */
	background-color: gray;
	color: white;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
	font-size: 12px;
	position: absolute;
	z-index: 3005;
	opacity: 0;
	transition-property: opacity;
	transition-delay: 2s;
}
/* Show the tooltip text when you mouse over the tooltip container */

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}
.tooltip:active .tooltiptext {
	visibility: hidden;
}
.tooltiptext.searchtip {
	top: 0;
	left: -110%;
}
.tooltiptext.settingstip {
	top: 0;
	left: -110%;
}
/* Share modal dialog */

/* The Modal (background) */

.modal {
	display: none;
	position: fixed;
	z-index: 1060;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
	position: relative;
	background-color: white;
	margin: auto;
	padding: 0;
	border: 1px solid gray;
	width: 60%;
	max-width: 900px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	animation-name: animatetop;
	animation-duration: 0.4s;
}
@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}
.modal-header {
	padding: 16px;
	background-color: var(--modal-header-color);
	color: white;
}
.modal-header .close {
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
.modal-header .close:hover,
.modal-header .close:focus {
	color: grey;
	text-decoration: none;
	cursor: pointer;
}
.modal-body {
	display: grid;
	grid-template-columns: 50% 1fr 60px;
	gap: 20px;
	padding: 16px;
	font-size: 16px;
}
.modal-body .invite {
	grid-column: 1;
	grid-row: 1;
}
.modal-body .modal-button {
	border-radius: 8px;
	color: black;
	background-color: white;
	border: 2px solid grey;
	text-align: center;
	box-shadow: 1px 1px 4px grey;
}
.modal-body .modal-button:hover {
	border-color: black;
}
.modal-body .modal-button:active {
	box-shadow: inset 0px 0px 5px #c1c1c1;
	outline: none;
}
.modal-body .clone {
	grid-column: 2;
	grid-row: 1;
	align-self: center;
	text-align: right;
}
.modal-body .clone-button {
	grid-column: 3;
	grid-row: 1;
	justify-self: end;
	align-self: center;
}
.modal-body .view {
	grid-column: 2;
	grid-row: 2;
	align-self: center;
	text-align: right;
}
.modal-body .view-button {
	grid-column: 3;
	grid-row: 2;
	justify-self: start;
	align-self: center;
}
.modal-body .table {
	grid-column: 2;
	grid-row: 3;
	align-self: center;
	text-align: right;
}
.modal-body .table-button {
	grid-column: 3;
	grid-row: 3;
	justify-self: start;
	align-self: center;
}
.modal-body .small {
	font-size: small;
}
.modal-body .text-to-copy {
	grid-column: 1;
	grid-row: 2;
	align-self: start;
	justify-self: start;
	max-width: 100%;
}
.modal-body .copy-text-container {
	grid-column: 1;
	grid-row: 3;
}
.modal-body .copied-text {
	display: none;
	font-size: 12px;
}

/* ---- Styles for the right hand side panel ------------------------------------------------- */

.panelHeader {
	width: 100%;
	background-color: var(--panel-color);
	height: 8px;
	border-radius: 4px 4px 0 0;
}
/* Style the tab */

.tab {
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	background-color: var(--panel-color);
}
/* Style the buttons that are used to open the tab content */

.tab .tablinks {
	flex: 1;
	font-size: 11px;
	background-color: var(--tab-color);
	float: left;
	border-right: 1px solid black;
	border-radius: 4px;
	width: 66px;
	text-align: center;
	outline: none;
	cursor: pointer;
	margin: 4px;
	padding: 1px;
	transition: 0.3s;
}

/* Create an active/current tablink class */

.tab .tablinks.active {
	background-color: white;
	color: black;
}
/* Style the tab content */

.tabcontent {
	border: 0;
	position: relative;
}
.samples,
.networkStyles {
	padding: 4px;
	background-color: var(--panel-color);
	color: white;
	font-size: 11px;
	border-radius: 4px;
}
.samples,
.networkStyles {
	border-radius: 0 0 4px 4px;
}
.networkGrid {
	display: grid;
	grid-template-columns: 1fr;
}
.panelRow {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.panelRow div {
	margin: auto 0;
}
.panelRow.centered {
	justify-content: center;
}
.panelRow.divider {
	margin-top: 5px;
	padding-top: 5px;
	border-top: 1px solid white;
}
.panelRow.hidden {
	display: none;
}
.networkGrid .panelRow {
	padding: 4px;
}

/* Using display:none to hide tabs other than the one on display: 
causes problems with sizing the sample canvases on the Factor and Link panels 
(because the size of the area in which to place the canvas appears to be zero) 
but moving the panel out of sight works instead */

.hide {
	position: absolute !important;
	top: -9999px !important;
	left: -9999px !important;
}
.btn {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	font-size: 12px;
	line-height: 1;
	border-radius: 3px;
	margin-top: 10px;
	outline: none;
	background-color: var(--tab-color);
}
.sampleGrid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 6px;
}
.sampleNode,
.sampleLink {
	width: 60px;
	height: 60px;
	justify-self: center;
	border: 0;
	border-radius: 5px;
	background-color: white;
}
.sampleSelected {
	box-shadow: 0 0 0 2px var(--sample-selected-color);
}

/* the data and notes area that appears if a node or link is selected */

.itemData {
	display: grid;
	padding: 4px;
	background-color: var(--panel-color);
	color: white;
	font-size: 11px;
	border-radius: 4px;
	position: fixed;
	top: calc(100% - 380px);
	left: calc(100% - 265px);
	z-index: 2000;
}
.notes {
	padding: 4px;
	background-color: white;
	color: black;
	width: 100%;
	min-height: 100px;
	outline: none;
	font-family: Oxygen, sans-serif;
}
.edit-container {
	width: 100%;
	max-width: 500px;
	background-color: white;
	resize: both;
	overflow: hidden;
}
.ql-editor {
	padding: 3px;
}
.ql-toolbar.ql-snow .ql-formats {
	margin-right: 0;
}
.itemData .row {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	font-size: 10px;
}
.itemData .row div {
	margin: auto 0;
}
.itemData .row .centered {
	justify-content: center;
}
.itemData .row.divider {
	margin-top: 5px;
	border-top: 1px solid lightgrey;
}
.itemData .row .hidden {
	display: none;
}
.nodeLabel,
.edgeLabel {
	font-weight: bold;
	text-decoration: underline;
	font-size: 12px;
	line-height: 2;
}
.padlock-hide {
	display: none;
}

/* create a push button */
.pushbutton {
	padding: 0 5px;
	background-color: white;
	border: 1px solid grey;
	border-top: 1px solid white;
	border-radius: 8px;
	font-size: 12px;
	color: black;
	outline: none;
	transition: All 250ms ease;
}
.pushbutton:active {
	background-color: grey;
	border: 1px solid black;
	border-top: 1px solid grey;
	color: white;
	transition: All 250ms ease;
}
/* create the impression of a sliding on/off switch see https://proto.io/freebies/onoff/ */

.onoffswitch {
	position: relative;
	width: 50px;
	user-select: none;
}
.onoffswitch-checkbox {
	display: none;
}
.onoffswitch-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	border: 0 solid gray;
	border-radius: 11px;
}
.onoffswitch-inner {
	display: block;
	width: 200%;
	margin-left: -100%;
	transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
	display: block;
	float: left;
	width: 50%;
	height: 16px;
	padding: 1px 0 0 0;
	line-height: 16px;
	font-size: 11px;
	color: white;
	font-weight: bold;
	box-sizing: border-box;
}
.onoffswitch-inner:before {
	content: 'ON';
	padding-left: 10px;
	background-color: white;
	color: black;
}
.onoffswitch-inner:after {
	content: 'OFF';
	padding-right: 5px;
	background-color: white;
	color: black;
	text-align: right;
}
.onoffswitch-switch {
	display: block;
	width: 18px;
	margin: -1px;
	background: black;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 32px;
	border: 2px solid gray;
	border-radius: 11px;
	transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
	margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
	right: 0;
}

/*  style editors */
.styleEditor {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
	grid-gap: 5px;
	border-radius: 6px;
	width: 230px;
	background-color: var(--pop-up-color);
	box-shadow: 2px 2px 10px 0px var(--pop-up-shadow-color);
	border: thin solid var(--pop-up-shadow-color);
	color: black;
	font-family: Oxygen, sans-serif;
	font-size: 12px;
	padding: 10px;
}
.hideEditor {
	display: none;
}
.styleEditorContainer {
	position: absolute;
	z-index: 10;
}
.styleEditor .header {
	grid-column: 1/3;
	justify-self: start;
	font-weight: bold;
	font-size: 14px;
	color: black;
}
.styleEditor .title {
	grid-column: 1/4;
}
.styleEditor .title input {
	font-family: sans-serif;
	font-size: 12px;
	border: 1px solid black;
	border-radius: 4px;
	padding: 4px;
}
.styleEditor .x-button {
	color: black;
	position: absolute;
	top: 3px;
	right: 5px;
	font-size: 20px;
}
.styleEditor .x-button:hover {
	color: gray;
	text-decoration: none;
	cursor: pointer;
}
.styleEditor .save-button {
	font-size: 12px;
	background-color: black;
	color: white;
	border-radius: 20%;
	padding: 3px;
}
.styleEditor .save-button:hover {
	text-decoration: none;
	cursor: pointer;
	background-color: gray;
}
.styleEditor .submit {
	grid-column: 3/4;
	justify-self: end;
}

/* chat window */
/* based on https://codepen.io/kh-mamun/pen/jBgGwa */

.chatbox-holder {
	position: fixed;
	right: 0;
	bottom: 37px;
	display: flex;
	align-items: flex-end;
	height: 0;
	z-index: 40;
}
.chatbox {
	width: 300px;
	height: 330px;
	margin-right: 5px;
	position: relative;
	display: flex;
	flex-flow: column;
	border-radius: 10px 10px 0 0;
	background: white;
	bottom: 0;
}
.chatbox-hide {
	display: none;
}
.chatbox-top {
	position: relative;
	display: flex;
	padding: 10px 0;
	border-radius: 10px 10px 0 0;
	background: var(--panel-color);
}
.chatbox-icons {
	padding: 0 10px 0 0;
	display: flex;
	position: relative;
}
.chatbox-close {
	background: var(--panel-color);
	color: white;
}
.chatbox-close:hover {
	color: var(--header-hover-color);
}
.chat-name {
	flex: 1;
	padding-left: 50px;
	font-size: 12px;
	color: white;
}
.chat-messages {
	border: 1px solid black;
	padding: 10px;
	overflow: auto;
	display: flex;
	flex-flow: row wrap;
	align-content: flex-start;
	flex: 1;
}
.message-box-holder {
	width: 100%;
	display: flex;
	flex-flow: column;
	align-items: flex-end;
	border-top: 1px solid lightgrey;
}
.message-header {
	font-size: 12px;
	font-weight: bold;
	color: var(--chat-message-header-color);
	width: 100%;
}
.message-author {
	float: left;
}
.message-time {
	float: right;
}
.message-box {
	padding: 7px;
	position: relative;
	color: black;
	font-size: 14px;
}
.message-received {
	align-self: flex-start;
}
.chat-input-holder {
	display: flex;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}
.chat-users-menu {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	border-left: 1px solid black;
	border-right: 1px solid black;
	font-size: 12px;
	padding: 4px;
}
.chat-users {
	outline: none;
}
.chat-input {
	resize: none;
	padding: 5px 10px;
	height: 40px;
	font-size: 12px;
	font-family: Oxygen, sans-serif;
	color: black;
	flex: 1;
	border: none;
	background: white;
	outline: none;
}
.message-send {
	background: white;
	color: var(--header-color);
	font-size: 24px;
	padding: 0 10px;
	border: none;
	border-radius: 10px;
	margin: 5px;
	outline: none;
}
.chatbox-tab {
	background: var(--header-color);
	border-radius: 10px 0 0 0;
	font-size: 28px;
	color: white;
	padding: 8px;
	position: fixed;
	right: 0;
	bottom: 36px;
	z-index: 40;
}
.chatbox-blink {
	animation-duration: 1s;
	animation-name: blinking;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
@keyframes blinking {
	from {
		background: var(--header-color);
	}
	to {
		background: var(--header-hover-color);
	}
}
.emoji {
	border: 0;
	font-size: 18px;
	background: white;
	outline: none;
}
.emoji-icon {
	font-size: larger;
}
.tooltiptext.emojitip {
	margin-left: -130px;
	top: 0;
}
/* History window */
.history-window {
	display: none;
	position: absolute;
	top: 110px;
	left: calc(100% - 630px);
	width: 400px;
	z-index: 2200;
	background-color: black;
	border-radius: 4px;
}
.history-header {
	background-color: black;
	border-radius: 4px 4px 0 0;
	text-align: center;
	color: white;
}
.history-close {
	padding-right: 10px;
	float: right;
}
.history-close:hover {
	color: var(--header-hover-color);
}
.history-log-wrapper {
	max-height: 500px;
	overflow-y: scroll;
	overflow-x: clip;
	width: 100%;
	border: 2px solid black;
	border-radius: 0 0 4px 4px;
	box-sizing: border-box;
}
.history-log {
	display: grid;
	grid-template-columns: 85px 1fr 28px;
	width: 100%;
	font-size: 12px;
	background-color: var(--history-log-color);
	user-select: none;
	padding-top: 4px;
}
.history-time {
	grid-column: 1;
	padding-left: 4px;
}
.history-action {
	grid-column: 2;
}
.history-rollback {
	grid-column: 3;
	cursor: default;
	justify-self: center;
}
.history-rollback .tooltip .rollbacktip {
	top: -50%;
	margin-left: -130px;
}

/* Legend */
.legend {
	position: fixed;
	bottom: 80px;
	left: 20px;
	box-shadow: 2px 2px 10px 0px var(--pop-up-shadow-color);
	border: thin solid var(--pop-up-shadow-color);
	background-color: white;
	border-radius: 4px;
	margin: 0;
	user-select: none;
	z-index: 30;
}
.legendTitle {
	font-weight: bold;
	text-align: center;
	padding: 3px;
	user-select: none;
}
.legendCanvas {
	width: 100%;
	height: 100%;
}
/* drawing layer */
.drawing-canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
}
.toolbox {
	position: absolute;
	top: 100px;
	left: 10px;
	z-index: 1001;
	display: none;
}
.tool {
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 6px;
	text-align: center;
	line-height: 40px;
	font-size: 26px;
	color: white;
	background-color: black;
	margin: 8px;
}
.tool:hover {
	box-shadow: 0 0 0 2px darkgrey inset;
}
.tool:active,
.selected {
	background-color: darkgray;
}
.tool .tooltiptext {
	visibility: hidden;
	top: 0;
	left: 50px;
	background-color: gray;
	color: white;
	text-align: center;
	padding: 5px 10px;
	border-radius: 6px;
	font-size: 12px;
	line-height: 1;
	position: absolute;
	z-index: 5;
	opacity: 0;
	transition: opacity 0.5s linear 1s;
}
.tool:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}
.tool:active .tooltiptext {
	visibility: hidden;
}
/* tool option dialog */
.options {
	position: absolute;
	display: grid;
	width: 165px;
	grid-template-columns: auto auto;
	box-shadow: 2px 2px 10px 0px var(--pop-up-shadow-color);
	border: thin solid var(--pop-up-shadow-color);
	background-color: var(--pop-up-color);
	z-index: 1002;
	color: black;
	border-radius: 6px;
	font-size: 14px;
}
.options::after {
	content: '';
	position: absolute;
	top: 16px;
	right: 100%;
	margin-top: -5px;
	border-width: 10px;
	border-style: solid;
	border-color: transparent var(--pop-up-shadow-color) transparent transparent;
}
.options div {
	text-align: left;
	padding: 2px;
}
.options :nth-child(2n + 1) {
	text-align: right;
}
.options .right {
	text-align: right;
}
div.resize {
	cursor: nwse-resize;
	position: absolute;
	background-color: black;
	width: 10px;
	height: 10px;
	bottom: 0px;
	right: 0px;
}
/* avatars */
.avatars {
	display: flex;
	flex-wrap: wrap;
}
.round {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-family: Oxygen, sans-serif;
	font-weight: bold;
	font-size: 24px;
	user-select: none;
	border: 1px solid black;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.hoverme {
	display: inline;
	position: relative;
	padding: 8px;
	z-index: 10;
}
.hoverme:hover::after {
	content: attr(data-tooltip);
	max-height: 24px;
	width: max-content;
	padding: 8px;
	border-radius: 4px;
	background: var(--header-color);
	color: white;
	position: absolute;
	text-align: center;
	font-size: 12px;
	white-space: pre;
	display: inline-block;
	animation: showf 100ms linear;
}
@keyframes showf {
	0% {
		transform: scale(0.5);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
	}
}
.hoverme + .hoverme:hover::after {
	content: attr(data-tooltip);
	max-height: 24px;
	width: max-content;
	padding: 8px;
	font-family: Oxygen, sans-serif;
	border-radius: 4px;
	background: var(--header-color);
	color: white;
	position: absolute;
	text-align: center;
	left: 50%;
	top: 50px;
	font-size: 12px;
	white-space: pre;
	display: inline-block;
	margin: 0 auto;
	transform: translateX(-50%);
	animation: show 100ms linear;
}
@keyframes show {
	0% {
		left: 50%;
		transform: translateX(-50%) scale(0.5);
		opacity: 0.2;
	}
	100% {
		left: 50%;
		transform: translateX(-50%) scale(1);
	}
}

.followme {
	box-shadow: inset 0px 0px 0px 4px red;
	border-radius: 8px;
}
/* ---------------------------- Tutorial --------------------------------*/
.tutorial-dialog {
	position: fixed;
	z-index: 5000;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 20px 1fr 25px;
	justify-items: center;
	border-radius: 6px;
	width: 230px;
	background-color: var(--pop-up-color);
	box-shadow: 2px 2px 10px 0px var(--pop-up-shadow-color);
	border: thin solid var(--pop-up-shadow-color);
	color: black;
	font-family: Oxygen, sans-serif;
	font-size: 16px;
	padding: 5px;
}
.tutorial-dialog.below,
.tutorial-dialog.below-left,
.tutorial-dialog.below-middle,
.tutorial-dialog.below-right {
	border-top: var(--tutorial-highlight-color) 4px solid;
}
.tutorial-dialog.left,
.tutorial-dialog.left-top,
.tutorial-dialog.left-middle,
.tutorial-dialog.left-bottom {
	border-right: var(--tutorial-highlight-color) 4px solid;
}
.tutorial-dialog.above,
.tutorial-dialog.above-left,
.tutorial-dialog.above-middle,
.tutorial-dialog.above-right {
	border-bottom: var(--tutorial-highlight-color) 4px solid;
}
.tutorial-dialog.right,
.tutorial-dialog.right-top,
.tutorial-dialog.right-middle,
.tutorial-dialog.right-bottom {
	border-left: var(--tutorial-highlight-color) 4px solid;
}
.tutorial-dialog.splash {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: green 4px solid;
}
.tutorial-dialog.wide {
	width: 500px;
}
.tutorial-dialog .text {
	grid-column: 1 / span 2;
	grid-row: 2;
	padding: 10px;
	text-align: center;
}
.tutorial-dialog .x-button {
	position: absolute;
	top: -6px;
	right: 3px;
	color: grey;
	font-size: 20px;
}
.tutorial-dialog .x-button:hover {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.tutorial-dialog .tutorial-button {
	font-size: 12px;
	background-color: black;
	color: white;
	border-radius: 20%;
}
.tutorial-dialog .tutorial-button:hover {
	text-decoration: none;
	cursor: pointer;
	background-color: gray;
}
.tutorial-dialog .next {
	grid-column: 2;
	grid-row: 3;
	justify-self: end;
}
.tutorial-dialog .prev {
	grid-column: 1;
	grid-row: 3;
	justify-self: start;
}
.tutorial-arrow {
	border: 10px solid var(--tutorial-highlight-color);
	position: absolute;
}
.tutorial-arrow.below,
.tutorial-arrow.below-middle,
.tutorial-arrow.below-right {
	border-color: transparent transparent var(--tutorial-highlight-color) transparent;
	top: -20px;
	left: 20px;
}
.tutorial-arrow.above,
.tutorial-arrow.above-middle,
.tutorial-arrow.above-right {
	border-color: var(--tutorial-highlight-color) transparent transparent transparent;
	bottom: -20px;
	left: 20px;
}
.tutorial-arrow.below-right,
.tutorial-arrow.above-right {
	right: 20px;
	left: auto;
}
.tutorial-arrow.below-middle,
.tutorial-arrow.above-middle {
	right: auto;
	left: auto;
}
.tutorial-arrow.left,
.tutorial-arrow.left-top,
.tutorial-arrow.right,
.tutorial-arrow.right-top {
	top: 0px;
}
.tutorial-arrow.left-bottom,
.tutorial-arrow.right-bottom {
	bottom: 20px;
}

.tutorial-arrow.right,
.tutorial-arrow.right-middle,
.tutorial-arrow.right-bottom {
	left: -20px;
	border-color: transparent var(--tutorial-highlight-color) transparent transparent;
}
.tutorial-arrow.left,
.tutorial-arrow.left-middle,
.tutorial-arrow.left-bottom {
	right: -20px;
	border-color: transparent transparent transparent var(--tutorial-highlight-color);
}
.tutorial-arrow.right-middle,
.tutorial-arrow.left-middle {
	top: 50%;
}
.tutorial-arrow.splash {
	border: none;
}
.tutorial-border {
	position: fixed;
	border: 3px solid var(--tutorial-highlight-color);
	z-index: 4999;
}
.tutorial-note {
	font-size: smaller;
}
.tutorial-background {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 3000;
	background-color: rgba(0, 0, 0, 0.3);
}
/* magnifier */
.magnifier {
	display: none;
	position: absolute;
	border: 1px black solid;
	box-shadow: 5px 5px 10px #1e1e1e;
	border-radius: 50%;
	z-index: 5000;
}
.shared-cursor {
	position: absolute;
	top: 0;
	left: 0;
	height: 1.2em;
	border-radius: 50%;
	padding: 5px;
	text-align: center;
	font-size: 10px;
	z-index: 6000;
	cursor: default;
	user-select: none;
	/* transition duration must be equal to mouse move throttle time */
	transition-property: top, left;
	transition-duration: 0.2s;
	transition-timing-function: linear;
}
.ghost-factor {
	position: absolute;
	z-index: 50;
	width: 190px;
	height: 75px;
	color: grey;
	background-color: rgb(235, 232, 232);
	border: thin solid var(--pop-up-shadow-color);
	border-radius: 5px;
	text-align: center;
	padding: 5px;
}
.factor-cursor {
	background-color: transparent;
	box-shadow: 2px 2px 10px 0px var(--pop-up-shadow-color);
	cursor: cell;
	pointer-events: none;
}
/* style context menu */
.contextmenu {
	position: absolute;
	padding: 0;
	margin: 0;
	background: #eee;
	z-index: 3000;
	border-radius: 7px;
	box-shadow: 2px 2px 10px 0px var(--pop-up-shadow-color);
	border: thin solid var(--pop-up-shadow-color);
	opacity: 0;
	transform: translate(0, 15px) scale(0.95);
	transition: transform 0.1s ease-out, opacity 0.1s ease-out;
	pointer-events: none;
}
.menu-item {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	white-space: nowrap;
	border-bottom: 1px solid lightgrey;
}
.menu-item:last-child {
	border-bottom: none;
}
.menu-btn {
	background: none;
	line-height: normal;
	overflow: visible;
	display: block;
	width: 100%;
	color: #444;
	font-size: 12px;
	text-align: left;
	cursor: pointer;
	border: 1px solid transparent;
	white-space: nowrap;
	border-radius: 3px;
}

.menu-item:hover > .menu-btn {
	color: white;
	outline: none;
	background-color: #2e3940;
	border: 1px solid #2e3940;
}
.menu-item.disabled {
	opacity: 0.5;
	pointer-events: none;
}
.menu-item.disabled .menu-btn {
	cursor: default;
}
.menu-separator {
	display: block;
	margin: 7px 5px;
	height: 1px;
	border-bottom: 1px solid #fff;
	background-color: #aaa;
}
.show-menu,
.menu-item:hover > .menu {
	opacity: 0.95;
	transform: translate(0, 0) scale(1);
	pointer-events: auto;
}
.menu-item:hover > .menu {
	-webkit-transition-delay: 100ms;
	transition-delay: 300ms;
}
.context-menu {
	position: absolute;
	padding: 0;
	margin: 0;
	background: #eee;
	z-index: 10000;
	border-radius: 7px;
	box-shadow: 2px 2px 10px 0px var(--pop-up-shadow-color);
	border: thin solid var(--pop-up-shadow-color);
	transform: scale(0);
	transform-origin: top left;
	cursor: default;
}
.context-menu.visible {
	transform: scale(1);
	transition: transform 200ms ease-in-out;
}

.context-menu .item {
	margin: 2px;
	padding: 2x;
	white-space: nowrap;
	border-bottom: 1px solid lightgrey;
	border-radius: 7px;
	color: #444;
	font-size: 12px;
	text-align: left;
}
.context-menu .item:last-child {
	border-bottom: none;
}
.context-menu .item:hover {
	background-color: var(--pop-up-shadow-color);
}
/* 3d graph display */
.threeDGraph {
	grid-area: main;
}
/* for iPads etc in landscape: nav buttons go under title */

@media screen and (min-width: 481px) and (max-width: 1112px) {
	nav {
		display: grid;
		grid-template-columns: 1fr;
		padding: 0;
	}
	nav img {
		display: none;
	}
	.strapline {
		grid-column: 1;
		grid-row: 1;
		font-size: 20px;
	}
	.maptitle {
		text-align: center;
		font-size: 16px;
		margin-top: 0;
	}
	.button-wrapper {
		grid-column: 1;
		grid-row: 2;
		width: 100%;
	}
	.buttons {
		justify-content: center;
	}
	nav button {
		margin: auto 0;
		font-size: 12px;
	}
	input[type='range'] {
		width: 40px;
	}
	.tooltiptext.searchtip {
		top: 100%;
		left: 50%;
	}
}
/* for iPads etc in portrait and smart phones: nav buttons go under title and font is smaller */

@media screen and (max-width: 480px) {
	nav {
		display: grid;
		grid-template-columns: 1fr;
		padding: 0;
	}
	nav img {
		display: none;
	}
	.strapline {
		grid-column: 1;
		grid-row: 1;
		font-size: 14px;
	}
	.title {
		justify-content: stretch;
	}
	.maptitle {
		text-align: center;
		font-size: 14px;
		margin: 0 auto;
		padding: 0;
	}
	.button-wrapper {
		grid-column: 1;
		grid-row: 2;
		width: 90%;
		margin: 0 auto;
	}
	.buttons {
		justify-content: space-around;
		flex-wrap: wrap;
	}
	nav button {
		margin: auto 0;
		font-size: 9px;
		padding: 0;
	}
	nav .button-text {
		display: none;
	}
	.left-border {
		border: none;
	}
	.right-border {
		border: none;
	}
	input[type='range'] {
		width: 40px;
	}
	.tooltiptext.searchtip {
		top: 100%;
		left: 50%;
	}
	.modal-content {
		width: 100%;
	}
	.modal-body {
		font-size: small;
		padding: 8px;
	}
}

/* print media */
@media print {
	header,
	aside,
	footer,
	.chatbox-tab,
	.chatbox,
	.avatars {
		display: none;
	}
	.legend {
		box-shadow: none;
		border: 1px lightgrey solid;
	}
}
