/* 
Top level styles setting out the page elements
 */

html, body, div, span, applet, object, iframe,
a, img, article, aside, canvas, footer, header, nav,
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	font-family: sans-serif;
	box-sizing: border-box;
	
	/* interface colours defined here */
	--header-color: #809fff;
	--panel-color: #404040;
	--pop-up-color: #999;
	--modal-header-color: #B0C4DE;
}

.container {
	display: grid;
	grid-template-columns: 1fr 0px;
	grid-template-rows: auto 1fr auto;
}

main {
	height: calc(100vh - 129px);
	flex: 1;
}

header {
	grid-column: span 2;
	text-align: center;
	height: 93px;
}
 
aside {
	margin-right: 5px;
}

footer {
	grid-column: span 2;
	display: flex;
	justify-content: space-between;
	padding: 5px;
	height: 25px;
	text-align: center;
	font-size: 14px;
	background-color: white;
	color: black;
	border-top: 1px solid lightgrey;
}

@media print {
	header, aside, footer {
		display: none;
		}
}
