/* 
Styles for the left hand side panel
 */


/* Style the tab */
.tab {
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	border-bottom: 1px solid #ccc;
}

/* Style the buttons that are used to open the tab content */
.tab button {
	flex: 1;
	background-color: #dcdcdc;
	float: left;
	border: 0;
	outline: none;
	cursor: pointer;
	padding: 5px 10px;
	transition: 0.3s;
	border-radius: 6px 6px 0 0;
	border-left: 1px solid #ccc;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #e9e9e9;
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: var(--panel-color);
	color: white;
}

/* Style the tab content */
.tabcontent {
	padding: 6px;
	background-color: var(--panel-color);
	color: white;
	font-size: 11px;
	border-radius: 0 0 6px 6px;
}

/* Using display:none to hide tabs other than the one on display: causes problems 
with sizing the sample canvases on the Factor and Link panels (because the 
size of the area in which to place the canvas appears to be zero; but
moving the panel out of sight works instead */

.hide {
	position: absolute !important;
	top: -9999px !important;
	left: -9999px !important;
}

.sampleGrid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 6px;
}

.sampleNode,
.sampleLink {
	width: 45px;
	height: 45px;
	border: 0;
	border-radius: 5px;
	background-color: white;
}

/* the panel area that only appears for the 
Factor tab if one Factor is selected */

#oneNodeSelected {
	margin-top: 10px;
	border-top: 1px solid whitesmoke;
	padding-top: 10px;
}

.notesWrapper {
	margin: 10px 0 0 0;
	padding: 2px 0 0 2px;
	border-radius: 5px;
	color: black;
	background-color: white;
	font-family: sans-serif;
}

.notes {
	width: 100%;
	max-height: 100px;
	height: 70px;
	overflow: auto;
}

.networkGrid {
	display: grid;
	grid-template-columns: 1fr;
}

.panelRow {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 3px;
}
.panelRow.centered {
	justify-content: center;
	}
	
.panelRow.divider {
	margin-top: 5px;
	padding-top: 5px;
	border-top: 1px solid white;
}
	

/* create the impression of a sliding on/off switch 
see https://proto.io/freebies/onoff/ */

.onoffswitch {
	position: relative;
	width: 50px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.onoffswitch-checkbox {
	display: none;
}

.onoffswitch-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	border: 0px solid #999999;
	border-radius: 11px;
}

.onoffswitch-inner {
	display: block;
	width: 200%;
	margin-left: -100%;
	transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
	display: block;
	float: left;
	width: 50%;
	height: 16px;
	padding: 0;
	line-height: 16px;
	font-size: 11px;
	color: white;
	font-weight: bold;
	box-sizing: border-box;
}

.onoffswitch-inner:before {
	content: "ON";
	padding-left: 10px;
	background-color: #EEEEEE;
	color: #000000;
}

.onoffswitch-inner:after {
	content: "OFF";
	padding-right: 10px;
	background-color: #bbbbbb;
	color: #000000;
	text-align: right;
}

.onoffswitch-switch {
	display: block;
	width: 18px;
	margin: -1px;
	background: #000000;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 32px;
	border: 2px solid #999999;
	border-radius: 11px;
	transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
	margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
	right: 0px;
}
