# cache css, fonts and js
<filesMatch ".(js|css|ico|woff2|png)$">
Header set Cache-Control "max-age=31536000, public"
</filesMatch>
# compress text files
<IfModule mod_mime.c>
	AddType application/x-javascript .js
	AddType text/javascript .js .mjs
	AddType text/css .css
</IfModule>
<IfModule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/css text/javascript application/x-javascript text/x-component text/html text/plain text/xml application/javascript
	<IfModule mod_setenvif.c>
		BrowserMatch ^Mozilla/4 gzip-only-text/html
		BrowserMatch ^Mozilla/4.0[678] no-gzip
		BrowserMatch bMSIE !no-gzip !gzip-only-text/html
	</IfModule>
</IfModule>
Header append Vary User-Agent env=!dont-vary

# Allow Parcel to put files in /dist
RewriteEngine  on
# use the dist version of the entry code
# but not if they are already linked to that directory
RewriteCond %{REQUEST_URI} !/dist/ [NC]
RewriteCond %{REQUEST_URI} !/experiments/ [NC]
RewriteCond %{REQUEST_URI} !/public/ [NC]
RewriteCond %{REQUEST_URI} !/acme-challenge/ [NC]
RewriteCond %{REQUEST_URI} !/doc/ [NC]
RewriteCond %{REQUEST_URI} !/vr/ [NC]
RewriteRule 	"^(.*)$"	"dist/$1" [PT]

# redirect Docusaurus help pages to the build directory
RewriteCond %{REQUEST_URI} !/build/ [NC]
RewriteRule	(doc/help)(.*)	$1/build$2 
