# /etc/systemd/system/prsm-api-server.service 
# sets up the PRSM API Server (including access to AWS Bedrock for AI queries)
#
# after installing, run
#   sudo systemctl daemon-reload
#   sudo systemctl restart prsm-api-server

[Unit]
Description=PRSM API Server
After=network.target

[Service]
Type=simple
User=ec2-user
WorkingDirectory=/data/prsm/api-server
ExecStart='PORT=3001 node src/api-server.mjs'
Environment='AWS_REGION=eu-west-2'
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=prsm-api-server

[Install]
WantedBy=multi-user.target
