# To run a local copy of PRSM from containers
# 1. Install podman from https://podman.io/getting-started/installation
# 2. Install python3 (if it is not already installed) https://www.python.org/downloads/
# 3. Install podman-compose (see https://github.com/containers/podman-compose) with: pip3 install podman-compose
# 4. Change directory to the the one including this file (compose.yaml)
# 5. If not already done, start podman:
#    podman machine init
#    podman machine start
# 6. Run the command: podman-compose up -d
# 7. To stop the software, use podman-compose down
#
# After starting the image, use
#   podman exec -it docker_htppd_1 bash
# to get a shell in the container for debugging

# To refresh the local copy of the images, if the version has changed, stop the containers:
#  and run
#   podman-compose down
#   podman-compose pull
#   podman-compose up -d

services:
  y-websocket:
    image: docker.io/micrology/prsm-y-websocket
    pull_policy: always
    ports: 
      - "1234:1234"
    restart: unless-stopped
# to provide persistence for maps, bind a local directory to the container. 
# The local directory will be created if it does not exist. 
# The container will write map data to this directory, and read from it when it starts up.
    volumes:
      - type: bind
      # replace the source, `./ws-server/db`, with the path to the local directory you want 
      # to use for persistence.  The path may be relative to the location of this file
      # or an absolute path (on Windows, use an absolute path).
      # The container will read and write map data to this directory.
        source: ./ws-server/db
        target: /db
  htppd:
    image: docker.io/micrology/prsm-httpd
    pull_policy: always
    ports:
      - "8080:8080"
    restart: unless-stopped
 