<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict/>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>19C410B9-BE18-42A7-BBD5-71B3FC005CC2</string>
				<string>5268154C-01B1-43A5-855A-19CE72E7BEAA</string>
				<string>D427C3D7-AC3C-4B03-A9E3-F63DF827EE47</string>
				<string>DCC8E384-1033-4834-88E6-A696AFBA2B1A</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Resources</string>
</dict>
</plist>
