@font-face {
	font-family: 'Oxygen';
	src: url('../fonts/oxygen-regular-webfont.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Oxygen';
	src: url('../fonts/oxygen-bold-webfont.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}
body {
	padding: 20px;
	font-family: Oxygen, sans-serif;
	line-height: 1.5;
	max-width: 1200px;
	display: grid;
	grid-template-columns: 230px 1fr;
}
figcaption {
	display: none;
}
img {
	display: block;
	max-width: 800px;
	margin: 0 auto;
}
.title {
	display: none;
}
.contents {
	grid-column: 2;
	padding: 20px;
}
.contents a {
	color: black;
}
code {
	font-size: large;
}
.scroll-nav {
	grid-column: 1;
	align-self: start;
	background-color: #f8f9fa;
	border: 1px solid #a2a9b1;
	padding: 15px 10px;
	position: sticky;
	top: 10px;
	width: 200px;
}
@media screen and (max-width: 1000px) {
	.contents {
		margin-left: 170px;
	}
	.scroll-nav {
		width: 150px;
	}
}
@media screen and (max-width: 700px) {
	.contents {
		margin-left: 0;
	}
	.scroll-nav {
		display: none;
	}
	img {
		max-width: 600px;
	}
}
.scroll-nav__list,
.scroll-nav__sub-list {
	margin: 0;
	padding-left: 1.4em;
	list-style-type: none;
}

.scroll-nav__item {
	margin-bottom: 5px;
}

.scroll-nav__sub-item {
	font-size: smaller;
}

.scroll-nav__item--active {
	font-weight: 600;
	position: relative;
}
/* .scroll-nav__item--active:before {
	content: '';
	display: block;
	width: 14px;
	height: 14px;
	background: black;
	position: absolute;
	left: -20px;
	top: 2px;
} */

.scroll-nav__link,
.scroll-nav__sub-link {
	color: #0645ad;
	text-decoration: none;
	overflow-wrap: break-word;
}
