@font-face {
	font-family: 'Oxygen';
	src: url('../fonts/oxygen-regular-webfont.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Oxygen';
	src: url('../fonts/oxygen-bold-webfont.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}
body {
	padding: 20px;
	font-family: Oxygen, sans-serif;
	line-height: 1.5;
	max-width: 1200px;
}
figcaption {
	display: none;
}
img {
	max-width: 800px;
}
.title {
	display: none;
}
.contents {
	padding: 20px;
	margin-left: 230px;
 }
 .contents a {
	 color: black;
 }
 code {
	 font-size: x-large;
 }
.scroll-nav {
	background-color: #f8f9fa;
	border: 1px solid #a2a9b1;
	padding: 15px 10px;
	position: sticky;
	top: 10px;
	width: 200px;
  }
  @media screen and (max-width: 1000px) {
	.contents {
		margin-left: 170px;
	}
	.scroll-nav {
		width: 150px;
	}
  }
  @media screen and (max-width: 700px) {
	.contents {
		margin-left: 0;
	}
	.scroll-nav {
	  display: none;
	}
	img {max-width: 600px;
	}
  }
  .scroll-nav__list {
	margin: 0;
	padding-left: 1.4em;
	list-style-type: none;
  }
  
  .scroll-nav__item {
	margin-bottom: 5px;
  }
  
  .scroll-nav__item--active {
	font-weight: 600;
	position: relative;
  }
  .scroll-nav__item--active:before {
	content: "";
	display: block;
	width: 14px;
	height: 14px;
	background: black;
	position: absolute;
	left: -20px;
	top: 2px;
  }
  
  .scroll-nav__link {
	color: #0645ad;
	text-decoration: none;
	overflow-wrap: break-word;
  }
