[Unit]
Description=websocket-server

[Service]
ExecStart=/data/prsm/node_modules/.bin/y-websocket-server
Restart=always
RestartSec=10
User=root
Group=root
Environment='PATH=/home/ec2-user/.nvm/versions/node/v14.15.5/bin' 'YPERSISTENCE=/data/prsm/dbDir'
# Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=websocket-server

[Install]
WantedBy=multi-user.target
