/* Styles for the Map Analysis table in Analysis.mdx */
.analysis {
    border-collapse: collapse;
}
.analysis td, .analysis th {
    padding: 5px;
}
.odd {
	background-color: #d8d8d8;
}
.even {
	background-color: #ffffff;
}.header {
    background-color: #6b6969;
    color: white;  
}   
.r31 {
    background-color: #f8f8f8;
}
.r32 {
    background-color: #e1e1e1;
}  
.r33 {
    background-color: #e3e3e3;
}
.r51 {
    background-color: #f0f0f0; 
}