<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>RapidWeaver</string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>Minimum Application Version</key>
				<string>8.1</string>
				<key>PublishingManifests</key>
				<dict>
					<key>page0 - file:///Users/scs1ng/Sites/psm/prism/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-08-28T15:58:58Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								TpKem1SF1qrE
								Yrf5PGMwjA==
								</data>
								<key>Size</key>
								<integer>7299</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page0</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:document:extrafiles - file:///Users/scs1ng/Sites/psm/prism/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-08-27T22:34:04Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>rw_common/images/prism-logo.png</key>
							<dict>
								<key>Digest</key>
								<data>
								DPM4+iI1rdVN
								Fi2/T0yMew==
								</data>
								<key>Size</key>
								<integer>15496</integer>
							</dict>
							<key>rw_common/version.txt</key>
							<dict>
								<key>Digest</key>
								<data>
								65wOgUWxJqhz
								ktmLsf2Bww==
								</data>
								<key>Size</key>
								<integer>5</integer>
							</dict>
							<key>sitemap.xml</key>
							<dict>
								<key>Digest</key>
								<data>
								YQ8aKQY9EK3Q
								mw3JTFfiKQ==
								</data>
								<key>Size</key>
								<integer>111</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:document:extrafiles</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:document:resources - file:///Users/scs1ng/Sites/psm/prism/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-08-27T22:34:04Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>NPCexample.png</key>
							<dict>
								<key>Digest</key>
								<data>
								XgwYMOjMQRYt
								0c82MvXEXA==
								</data>
								<key>Size</key>
								<integer>744248</integer>
							</dict>
							<key>SCandLexample.png</key>
							<dict>
								<key>Digest</key>
								<data>
								KkiNUjoRNhKT
								3+3NVi0dzg==
								</data>
								<key>Size</key>
								<integer>602001</integer>
							</dict>
							<key>WorldCup2019example.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Abboa5WZchYW
								45qNFQfapg==
								</data>
								<key>Size</key>
								<integer>1710612</integer>
							</dict>
							<key>prism-logo.png</key>
							<dict>
								<key>Digest</key>
								<data>
								DPM4+iI1rdVN
								Fi2/T0yMew==
								</data>
								<key>Size</key>
								<integer>15496</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:document:resources</string>
						<key>SiteRoot</key>
						<string>resources</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:theme:Climate - file:///Users/scs1ng/Sites/psm/prism/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-08-27T22:34:04Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>consolidated.css</key>
							<dict>
								<key>Digest</key>
								<data>
								8maOzv77g/I+
								gze6DCGv7A==
								</data>
								<key>Size</key>
								<integer>179111</integer>
							</dict>
							<key>images/banners/default.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								U6LGzWBNFTLW
								KphAybPxQw==
								</data>
								<key>Size</key>
								<integer>235084</integer>
							</dict>
							<key>js/main.js</key>
							<dict>
								<key>Digest</key>
								<data>
								V4k1K88unEg/
								xgRe0okQPg==
								</data>
								<key>Size</key>
								<integer>155286</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:theme:Climate</string>
						<key>SiteRoot</key>
						<string>rw_common/themes/Climate</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
				<key>RWFileReferences</key>
				<dict>
					<key>19C410B9-BE18-42A7-BBD5-71B3FC005CC2</key>
					<dict>
						<key>fileName</key>
						<string>NPCexample.png</string>
						<key>identifier</key>
						<string>19C410B9-BE18-42A7-BBD5-71B3FC005CC2</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/gh/tn_s0fyn4p3bnx5kn2pz6px80000gn/T/com.realmacsoftware.rapidweaver8/com.realmacsoftware.rapidweaver8-97374/y948QI/NPCexample.png</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>5268154C-01B1-43A5-855A-19CE72E7BEAA</key>
					<dict>
						<key>fileName</key>
						<string>SCandLexample.png</string>
						<key>identifier</key>
						<string>5268154C-01B1-43A5-855A-19CE72E7BEAA</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/gh/tn_s0fyn4p3bnx5kn2pz6px80000gn/T/com.realmacsoftware.rapidweaver8/com.realmacsoftware.rapidweaver8-97374/kF4FLy/SCandLexample.png</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>D427C3D7-AC3C-4B03-A9E3-F63DF827EE47</key>
					<dict>
						<key>fileName</key>
						<string>WorldCup2019example.png</string>
						<key>identifier</key>
						<string>D427C3D7-AC3C-4B03-A9E3-F63DF827EE47</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/gh/tn_s0fyn4p3bnx5kn2pz6px80000gn/T/com.realmacsoftware.rapidweaver8/com.realmacsoftware.rapidweaver8-97374/OUEgMs/WorldCup2019example.png</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>DCC8E384-1033-4834-88E6-A696AFBA2B1A</key>
					<dict>
						<key>fileName</key>
						<string>prism-logo.png</string>
						<key>identifier</key>
						<string>DCC8E384-1033-4834-88E6-A696AFBA2B1A</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/gh/tn_s0fyn4p3bnx5kn2pz6px80000gn/T/com.realmacsoftware.rapidweaver8/com.realmacsoftware.rapidweaver8-97374/CPISLa/prism-logo.png</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
				</dict>
				<key>Site Resources</key>
				<data>
				YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hp
				dmVyVCR0b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRB
				cmNoaXZlctEICVRyb290gAGvEDgLDBUWICEiJSw0R0hJ
				Sk5RVz1ZXV5ibW5vcHN5enuGh4iJjJKTlJ+goaKlq6yt
				uLm6u8HEx83O0lUkbnVsbNMNDg8QEhRXTlMua2V5c1pO
				Uy5vYmplY3RzViRjbGFzc6ERgAKhE4ADgDdUbm9kZdUX
				GBkaDxscHR4fVE5hbWVVaXRlbXNaaWRlbnRpZmllclhj
				aGlsZHJlboAFgAiABIAGgDZfECRDRjQ0RjdDRC1FQzBD
				LTQ3QzgtOUNGMC1GOTk3N0UxODhDRkRfEA9VbnRpdGxl
				ZCBGb2xkZXLSDg8jJKCAB9ImJygpWiRjbGFzc25hbWVY
				JGNsYXNzZXNeTlNNdXRhYmxlQXJyYXmjKCorV05TQXJy
				YXlYTlNPYmplY3TSDg8tJKUuLzAxMoAJgBWAHYAlgC2A
				B9o1Ng83ODkXOjs8PT4/QEBCQ0RFRl5SZW1vdGVSZXNv
				dXJjZVtPcmlnaW5hbFVSTFxQdWJsaXNoZWRVUkxdUHVi
				bGlzaGVkRGF0ZV8QD0NoYW5nZWRTdGF0dXNlc1pJZGVu
				dGlmaWVyWVRpbWVTdGFtcFlGaWxlVG9rZW4IgBOAFIAA
				gACAD4ALgAqADYAMXxAkQjk2NzBBQkQtRTFFNi00NTU3
				LThBNjUtNjI2Qjc4NTVGRUFCXnByaXNtLWxvZ28ucG5n
				XxAkRENDOEUzODQtMTAzMy00ODM0LTg4RTYtQTY5NkFG
				QkEyQjFB0ksPTE1XTlMudGltZSNBwnywoZCc/oAO0iYn
				T1BWTlNEYXRlok8r0w0OD1JUVqFTgBChVYARgBJfECVm
				aWxlOi8vL1VzZXJzL3NjczFuZy9TaXRlcy9wc20vcHJp
				c20vCNImJ1pbXxATTlNNdXRhYmxlRGljdGlvbmFyeaNa
				XCtcTlNEaWN0aW9uYXJ5XxAwL1VzZXJzL3NjczFuZy9T
				aXRlcy9wc20vcHJpc20vaW1nL3ByaXNtLWxvZ28ucG5n
				0iYnX2BeUldTaXRlUmVzb3VyY2WiYSteUldTaXRlUmVz
				b3VyY2XaNTYPNzg5Fzo7PD1kP0BAaGlqa2wIgByAFIAA
				gACAGoAXgBaAGYAYXxAkM0VFQ0Y1OUQtN0IzQy00RUQ3
				LTg3RDktOTcwMTgyNjJDMjk0XxAXV29ybGRDdXAyMDE5
				ZXhhbXBsZS5wbmdfECRENDI3QzNENy1BQzNDLTRCMDMt
				QTlFMy1GNjNERjgyN0VFNDfSSw9xTSNBwnywoZCdUoAO
				0w0OD3R2VqF1gBuhVYARgBJfECVmaWxlOi8vL1VzZXJz
				L3NjczFuZy9TaXRlcy9wc20vcHJpc20vXxBAL1VzZXJz
				L3NjczFuZy9TaXRlcy9wc20vcHJpc20vZG9jL2ltYWdl
				cy9Xb3JsZEN1cDIwMTlleGFtcGxlLnBuZ9o1Ng83ODkX
				Ojs8PX0/QECBgoOEhQiAJIAUgACAAIAigB+AHoAhgCBf
				ECRGRDM1OTUzRC0wMURELTQ5NzgtOTAxQS1BNkI2NjFD
				QjY3MUZeTlBDZXhhbXBsZS5wbmdfECQxOUM0MTBCOS1C
				RTE4LTQyQTctQkJENS03MUIzRkMwMDVDQzLSSw+KTSNB
				wnywoZCdc4AO0w0OD42PVqGOgCOhVYARgBJfECVmaWxl
				Oi8vL1VzZXJzL3NjczFuZy9TaXRlcy9wc20vcHJpc20v
				XxA3L1VzZXJzL3NjczFuZy9TaXRlcy9wc20vcHJpc20v
				ZG9jL2ltYWdlcy9OUENleGFtcGxlLnBuZ9o1Ng83ODkX
				Ojs8PZY/QECam5ydngiALIAUgACAAIAqgCeAJoApgChf
				ECQ3OUZDNzkwQy03QTI0LTQzOTEtODU3NS1ENEVGQUNF
				NUE4MzhfEBFTQ2FuZExleGFtcGxlLnBuZ18QJDUyNjgx
				NTRDLTAxQjEtNDNBNS04NTVBLTE5Q0U3MkU3QkVBQdJL
				D6NNI0HCfLChkJ2EgA7TDQ4PpqhWoaeAK6FVgBGAEl8Q
				JWZpbGU6Ly8vVXNlcnMvc2NzMW5nL1NpdGVzL3BzbS9w
				cmlzbS9fEDovVXNlcnMvc2NzMW5nL1NpdGVzL3BzbS9w
				cmlzbS9kb2MvaW1hZ2VzL1NDYW5kTGV4YW1wbGUucG5n
				2jU2Dzc4ORc6OzyuQD+xQLO0tba3CYAAgBSAMYAAgDSA
				L4AugDOAMF8QJEVDQTU0QzJCLTg3MDctNDFDOS1BOERF
				LTAyOEU3NDdGMkUzQl8QIXBob3RvLTE1NDU5ODc3OTYt
				MjAwNjc3ZWUxMDExLmpwZ18QmGh0dHBzOi8vaW1hZ2Vz
				LnVuc3BsYXNoLmNvbS9waG90by0xNTQ1OTg3Nzk2LTIw
				MDY3N2VlMTAxMT9peGxpYj1yYi0xLjIuMSZxPTgwJmZt
				PWpwZyZjcm9wPWVudHJvcHkmY3M9dGlueXNyZ2Imdz0x
				MDgwJmZpdD1tYXgmaXhpZD1leUpoY0hCZmFXUWlPakV6
				TWpRNWZR07wPvUC/t1dOUy5iYXNlW05TLnJlbGF0aXZl
				gACAMoAw0iYnwsNVTlNVUkyiwivSSw/FTSNBwnywoZCd
				nYAO0w0OD8jKVqHJgDWhVYARgBJfECVmaWxlOi8vL1Vz
				ZXJzL3NjczFuZy9TaXRlcy9wc20vcHJpc20v0iYnz9Bc
				UldTaXRlRm9sZGVyotErXFJXU2l0ZUZvbGRlctImJ1zT
				olwrAAgAEQAaACQAKQAyADcASQBMAFEAUwCOAJQAmwCj
				AK4AtQC3ALkAuwC9AL8AxADPANQA2gDlAO4A8ADyAPQA
				9gD4AR8BMQE2ATcBOQE+AUkBUgFhAWUBbQF2AXsBgQGD
				AYUBhwGJAYsBjQGiAbEBvQHKAdgB6gH1Af8CCQIKAgwC
				DgIQAhICFAIWAhgCGgIcAkMCUgJ5An4ChgKPApEClgKd
				AqACpwKpAqsCrQKvArEC2QLaAt8C9QL5AwYDOQM+A00D
				UANfA3QDdQN3A3kDewN9A38DgQODA4UDhwOuA8gD7wP0
				A/0D/wQGBAgECgQMBA4EEAQ4BHsEkASRBJMElQSXBJkE
				mwSdBJ8EoQSjBMoE2QUABQUFDgUQBRcFGQUbBR0FHwUh
				BUkFgwWYBZkFmwWdBZ8FoQWjBaUFpwWpBasF0gXmBg0G
				EgYbBh0GJAYmBigGKgYsBi4GVgaTBqgGqQarBq0Grwax
				BrMGtQa3BrkGuwbiBwYHoQeoB7AHvAe+B8AHwgfHB80H
				0AfVB94H4AfnB+kH6wftB+8H8QgZCB4IKwguCDsIQAAA
				AAAAAAIBAAAAAAAAANQAAAAAAAAAAAAAAAAAAAhD
				</data>
				<key>SiteAttributes</key>
				<dict>
					<key>AddCopyrightMailTo</key>
					<true/>
					<key>AnonymiseThirdPartyRequests</key>
					<false/>
					<key>BannerIdentifier</key>
					<string>ECA54C2B-8707-41C9-A8DE-028E747F2E3B</string>
					<key>BaseURL</key>
					<string>http://cress.soc.surrey.ac.uk/</string>
					<key>ConsolidateCSSFiles</key>
					<true/>
					<key>ConsolidateCommonFilesMode</key>
					<integer>0</integer>
					<key>ContactText</key>
					<string>2020</string>
					<key>CopyrightText</key>
					<string>developed by the Centre for Research in Social Simulation and the &lt;p&gt;Centre for the Evaluation of Complexity Across the Nexus (CECAN), &lt;p&gt;University of Surrey, UK</string>
					<key>CopyrightTextUsed</key>
					<true/>
					<key>CruftlessLinksEnabled</key>
					<true/>
					<key>DirectoryIndexFilenames</key>
					<array>
						<string>index.html</string>
						<string>index.php</string>
						<string>index.htm</string>
					</array>
					<key>EmailAddress</key>
					<string>n.gilbert@surrey.ac.uk</string>
					<key>ObfuscateEmailAddress</key>
					<true/>
					<key>PrivacyMessage</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25Z
					JGFyY2hpdmVyVCR0b3BYJG9iamVjdHMSAAGG
					oF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290
					gAChC1UkbnVsbAgRGiQpMjdJTFFTVQAAAAAA
					AAEBAAAAAAAAAAwAAAAAAAAAAAAAAAAAAABb
					</data>
					<key>PrivacyMessageDismissButtonTitle</key>
					<string>Dismiss</string>
					<key>PublishingDestinations</key>
					<array>
						<dict>
							<key>anonymous</key>
							<false/>
							<key>automaticallyConfigured</key>
							<false/>
							<key>backupFrequency</key>
							<integer>0</integer>
							<key>connectionMode</key>
							<integer>0</integer>
							<key>enablePublicKeyAuthentication</key>
							<false/>
							<key>fileSystemPathBookmark</key>
							<data>
							Ym9va9ACAAAAAAQQMAAA
							AJit7DQ2ka+kBWo3o3hP
							PoDjIFO1nTgK0ja90j/x
							rziezAEAAAQAAAADAwAA
							AAgAKAUAAAABAQAAVXNl
							cnMAAAAGAAAAAQEAAHNj
							czFuZwAABQAAAAEBAABT
							aXRlcwAAAAMAAAABAQAA
							cHNtAAUAAAABAQAAcHJp
							c20AAAAUAAAAAQYAABAA
							AAAgAAAAMAAAAEAAAABM
							AAAACAAAAAQDAADJAAAA
							AAAAAAgAAAAEAwAA8JMn
							AAAAAAAIAAAABAMAAHnX
							JwAAAAAACAAAAAQDAAAn
							h1EAAAAAAAgAAAAEAwAA
							yrZSAAAAAAAUAAAAAQYA
							AHgAAACIAAAAmAAAAKgA
							AAC4AAAACAAAAAAEAABB
							wcWUeoAAABgAAAABAgAA
							AgAAAAAAAAAPAAAAAAAA
							AAAAAAAAAAAACAAAAAQD
							AAADAAAAAAAAAAQAAAAD
							AwAA9QEAAAgAAAABCQAA
							ZmlsZTovLy8EAAAAAQEA
							AEdhbGEIAAAABAMAAACw
							5GTuAAAACAAAAAAEAABB
							wj1KYo1owiQAAAABAQAA
							MjQxOTBBNkEtRTVENC00
							NzQxLTgzQjctMDAxNDZB
							N0U0QTY5GAAAAAECAAAB
							AQAAAQAAAO8TAAABAAAA
							AAAAAAAAAAABAAAAAQEA
							AC8AAAAAAAAAAQUAAMwA
							AAD+////AQAAAAAAAAAQ
							AAAABBAAAFwAAAAAAAAA
							BRAAAMgAAAAAAAAAEBAA
							APQAAAAAAAAAQBAAAOQA
							AAAAAAAAAiAAALgBAAAA
							AAAABSAAADABAAAAAAAA
							ECAAAEABAAAAAAAAESAA
							AGwBAAAAAAAAEiAAAEwB
							AAAAAAAAEyAAAFwBAAAA
							AAAAICAAAJgBAAAAAAAA
							MCAAAMQBAAAAAAAAAcAA
							ABQBAAAAAAAAEcAAACAA
							AAAAAAAAEsAAACQBAAAA
							AAAAENAAAAQAAAAAAAAA
							</data>
							<key>hasPublishedContent</key>
							<true/>
							<key>ignoreCertificateErrors</key>
							<false/>
							<key>label</key>
							<string>Local</string>
							<key>maxConnections</key>
							<integer>6</integer>
							<key>path</key>
							<string></string>
							<key>server</key>
							<string></string>
							<key>serverConfigurationVersions</key>
							<array/>
							<key>type</key>
							<integer>0</integer>
							<key>useSSLOption</key>
							<integer>2</integer>
							<key>user</key>
							<string></string>
							<key>websiteAddress</key>
							<string>http://127.0.0.1/~scs1ng/psm/prism/</string>
						</dict>
					</array>
					<key>PublishingSettingsConfigured</key>
					<true/>
					<key>RememberPrivacyMessageDismissed</key>
					<false/>
					<key>SelectedPublishingDestinationIndex</key>
					<integer>0</integer>
					<key>SettingsPlugins</key>
					<array/>
					<key>ShowBreadcrumbTrail</key>
					<false/>
					<key>ShowPrivacyMessage</key>
					<false/>
					<key>SiteBannerAltText</key>
					<string>Abstract network</string>
					<key>SiteLogoAltText</key>
					<string>PRSM logo</string>
					<key>SiteLogoIdentifier</key>
					<string>B9670ABD-E1E6-4557-8A65-626B7855FEAB</string>
					<key>SloganText</key>
					<string>for understanding policy systems collaboratively</string>
					<key>SloganUsed</key>
					<true/>
					<key>ThemeName</key>
					<string>Climate</string>
					<key>TitleText</key>
					<string>Participatory System Mapper</string>
					<key>TitleTextUsed</key>
					<true/>
					<key>UniqueBackupName</key>
					<string>13CE139D-FE7A-4B45-A426-37A33AFAFFB4_rwbackup</string>
					<key>WantsXMLSiteMap</key>
					<true/>
					<key>autoStartWebServer</key>
					<false/>
					<key>hasChangedGlobalBody</key>
					<false/>
					<key>hasChangedGlobalCSS</key>
					<false/>
					<key>hasChangedGlobalHeader</key>
					<false/>
					<key>hasChangedGlobalJavascript</key>
					<false/>
					<key>hasChangedGlobalPrefix</key>
					<false/>
					<key>iconPackage</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25Z
					JGFyY2hpdmVyVCR0b3BYJG9iamVjdHMSAAGG
					oF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290
					gAChC1UkbnVsbAgRGiQpMjdJTFFTVQAAAAAA
					AAEBAAAAAAAAAAwAAAAAAAAAAAAAAAAAAABb
					</data>
					<key>minifyExtraFiles</key>
					<true/>
					<key>useCacheBusting</key>
					<true/>
					<key>useDocumentPortability</key>
					<true/>
					<key>useSocialTags</key>
					<true/>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>DefaultPageAttributes</string>
				<string>Pages</string>
				<string>Resources</string>
				<string>SharedPluginData</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>RapidWeaver Document</string>
</dict>
</plist>
