<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>expandedItems</key>
	<array/>
	<key>pageInspectorVisible</key>
	<false/>
	<key>projectViewVisible</key>
	<true/>
	<key>projectViewWidth</key>
	<real>228</real>
	<key>selectedInspectorTab</key>
	<string>info</string>
	<key>selectedItems</key>
	<array>
		<string>Code Configuration View</string>
	</array>
	<key>selectedMode</key>
	<integer>1</integer>
</dict>
</plist>
