div.vis-network div.vis-manipulation {
  box-sizing: content-box;
  background: -o-linear-gradient(top, #fff 0%, #fcfcfc 48%, #fafafa 50%, #fcfcfc 100%);
  background: -ms-linear-gradient(top,
    #fff 0%,
    #fcfcfc 48%,
    #fafafa 50%,
    #fcfcfc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#fcfcfc",GradientType=0);
  background: -moz-linear-gradient(top, #fff 0%, #fcfcfc 48%, #fafafa 50%, #fcfcfc 100%);
  background: -o-linear-gradient(top, #fff 0%, #fcfcfc 48%, #fafafa 50%, #fcfcfc 100%);
  background: linear-gradient(#fff 0%, #fcfcfc 48%, #fafafa 50%, #fcfcfc 100%);
  border: 0 solid #d6d9d8;
  border-bottom-width: 1px;
  width: 100%;
  height: 28px;
  padding-top: 4px;
  position: absolute;
  top: 0;
  left: 0;
}

div.vis-network div.vis-edit-mode, div.vis-network button.vis-edit-mode {
  height: 30px;
  position: absolute;
  top: 5px;
  left: 0;
}

div.vis-network button.vis-close {
  background-color: #0000;
  background-position: 20px 3px;
  background-repeat: no-repeat;
  background-image: inline("cross.png");
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  -khtml-user-select: none;
  border: none;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
}

div.vis-network button.vis-close:hover {
  opacity: .6;
}

div.vis-network div.vis-manipulation button.vis-button, div.vis-network div.vis-edit-mode button.vis-button {
  float: left;
  box-sizing: content-box;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  -khtml-user-select: none;
  background-color: #0000;
  background-position: 0 0;
  background-repeat: no-repeat;
  border: none;
  border-radius: 15px;
  height: 24px;
  margin-left: 10px;
  padding: 0 8px;
  font-family: verdana;
  font-size: 12px;
}

div.vis-network div.vis-manipulation button.vis-button:hover {
  box-shadow: 1px 1px 8px #0003;
}

div.vis-network div.vis-manipulation button.vis-button:active {
  box-shadow: 1px 1px 8px #00000080;
}

div.vis-network div.vis-manipulation button.vis-button.vis-back {
  background-image: inline("backIcon.png");
}

div.vis-network div.vis-manipulation div.vis-none:hover {
  cursor: default;
  box-shadow: 1px 1px 8px #0000;
}

div.vis-network div.vis-manipulation div.vis-none:active {
  box-shadow: 1px 1px 8px #0000;
}

div.vis-network div.vis-manipulation div.vis-none {
  padding: 0;
  line-height: 23px;
}

div.vis-network div.vis-manipulation div.notification {
  margin: 2px;
  font-weight: bold;
}

div.vis-network div.vis-manipulation button.vis-button.vis-add {
  background-image: inline("addNodeIcon.png");
}

div.vis-network div.vis-manipulation button.vis-button.vis-edit, div.vis-network div.vis-edit-mode button.vis-button.vis-edit {
  background-image: inline("editIcon.png");
}

div.vis-network div.vis-edit-mode button.vis-button.vis-edit.vis-edit-mode {
  background-color: #fcfcfc;
  border: 1px solid #ccc;
}

div.vis-network div.vis-manipulation button.vis-button.vis-connect {
  background-image: inline("connectIcon.png");
}

div.vis-network div.vis-manipulation button.vis-button.vis-delete {
  background-image: inline("deleteIcon.png");
}

div.vis-network div.vis-manipulation div.vis-label, div.vis-network div.vis-edit-mode div.vis-label {
  margin: 0 0 0 23px;
  line-height: 25px;
}

div.vis-network div.vis-manipulation div.vis-separator-line {
  float: left;
  background-color: #bdbdbd;
  width: 1px;
  height: 21px;
  margin: 0 7px 0 15px;
  display: inline-block;
}

div.vis-network div.vis-navigation div.vis-button {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  -khtml-user-select: none;
  background-position: 2px 2px;
  background-repeat: no-repeat;
  border-radius: 17px;
  width: 34px;
  height: 34px;
  display: inline-block;
  position: absolute;
}

div.vis-network div.vis-navigation div.vis-button:hover {
  box-shadow: 0 0 3px 3px #38cf154d;
}

div.vis-network div.vis-navigation div.vis-button:active {
  box-shadow: 0 0 1px 3px #38cf15f2;
}

div.vis-network div.vis-navigation div.vis-button.vis-up {
  background-image: inline("upArrow.png");
  bottom: 50px;
  left: 55px;
}

div.vis-network div.vis-navigation div.vis-button.vis-down {
  background-image: inline("downArrow.png");
  bottom: 10px;
  left: 55px;
}

div.vis-network div.vis-navigation div.vis-button.vis-left {
  background-image: inline("leftArrow.png");
  bottom: 10px;
  left: 15px;
}

div.vis-network div.vis-navigation div.vis-button.vis-right {
  background-image: inline("rightArrow.png");
  bottom: 10px;
  left: 95px;
}

div.vis-network div.vis-navigation div.vis-button.vis-zoomIn {
  background-image: inline("plus.png");
  bottom: 10px;
  right: 15px;
}

div.vis-network div.vis-navigation div.vis-button.vis-zoomOut {
  background-image: inline("minus.png");
  bottom: 10px;
  right: 55px;
}

div.vis-network div.vis-navigation div.vis-button.vis-zoomExtends {
  background-image: inline("zoomExtends.png");
  bottom: 50px;
  right: 15px;
}
/*# sourceMappingURL=vis-network.css.map */
